#back {
  width: 80vw;
  height: 10vh;

  margin: 0 auto;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  color: $gray;

  button {
    width: 90px;
    height: 30px;

    text-align: right;

    cursor: pointer;
  }
}
