#back {
  width: 80vw;
  height: 10vh;

  margin: 0 auto;

  font-size: 17px;
  line-height: 10vh;
  text-align: end;

  button {
    width: 90px;
    height: 30px;

    border-bottom: 1px solid $white;

    text-align: center;
    line-height: 30px;

    cursor: pointer;
  }
}
