body {
  width: 100%;
  height: 100vh;
  background-color: $brandColor;

  color: $white;
  font-family: "IBM Plex Sans KR", sans-serif, -apple-system;

  &::-webkit-scrollbar {
    display: none;
  }
}

span,
p,
h1 {
  color: white;
}

input {
  border: none;

  box-sizing: border-box;

  color: $white;
  background: transparent;

  &:not([type="submit"]) {
    border-bottom: 2px solid $white;
  }

  &[type="submit"] {
    border-radius: 5px;

    cursor: pointer;

    color: $black;
    background-color: $white;
  }

  &::placeholder {
    color: $gray;
  }

  &:focus {
    outline: none;
  }
}

button {
  all: unset;
}
