input[type="file"] {
  border: none;

  padding-bottom: 0;

  &::file-selector-button {
    width: 150px;
    height: 30px;

    margin-top: 10px;
    margin-right: 20px;

    border: none;
    border-radius: 10px;

    cursor: pointer;
    background-color: $white;

    &:hover {
      border: none;

      background-color: $gray;
      color: $white;
    }
  }
}
