// colors
$brandColor: #001651;
$white: rgba(252, 252, 252, 0.8);
$black: rgba(0, 0, 0, 0.8);
$gray: rgba(150, 150, 150, 0.8);
$alert: rgba(216, 123, 41, 1);

// width
$breakpoint-tablet: 750px;
$breakpoint-mobile: 450px;

@mixin tablet {
  @media (min-width: $breakpoint-mobile) and (max-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: $breakpoint-mobile) {
    @content;
  }
}
