// colors
$brandColor: #001651;
$white: rgba(252, 252, 252, 0.8);
$black: rgba(0, 0, 0, 0.8);
$gray: rgba(150, 150, 150, 0.8);
$alert: rgba(216, 123, 41, 1);

// width
$breakpoint-tablet: 850px;
$breakpoint-mobile: 450px;
