/* 알바생 등록 페이지 스타일 */

body {
  background-color: #3da557;
}

.alba-register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0 15px; /* 가로 간격 조절 */
}

.alba-register h2 {
  font-family: "KBO-Dia-Gothic_bold";
  font-size: 6rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #3da557;
  width: 36rem;
  text-align: center;
  line-height: 6rem;
}

/* .alba-register h2::before{
  width: 30rem;
  background-color: #3da557;
} */

.alba-form {
  position: absolute;
  bottom: 0;
}

.registerForm {
  position: relative;
  background-color: #ffffff;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  margin: auto;
}

.registerForm {
  display: flex;
  /* flex-direction: column; */
}
.image-upload {
  width: 150px;
  height: 200px;
  max-width: 100%;
  max-height: 100%;
  position: relative;
  border: 1px solid #3da557;
}

.image-upload > img {
  width: 150px;
  height: 200px;
}

.image-upload > #photoInput {
  width: 150px;
  position: absolute;
  opacity: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-radius: 20px;
  border: 1px solid #3da557;
}

.inputForm {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}

.wave-group {
  position: relative;
  margin: auto;
  margin-top: 20px;
}

.wave-group .input {
  font-size: 16px;
  font-family: "Noto Sans KR";
  font-weight: 400;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 18rem;
  border: none;
  border-bottom: 1px solid #8f8f8fe8;
  background: transparent;
}

.wave-group .input:focus {
  outline: none;
}

.wave-group .label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  display: flex;
}

.wave-group .label-char {
  transition: 0.2s ease all;
  transition-delay: calc(var(--index) * 0.05s);
}

.wave-group .input:focus ~ label .label-char,
.wave-group .input:valid ~ label .label-char {
  transform: translateY(-20px);
  font-size: 14px;
  color: #3da557;
}

.wave-group .bar {
  position: relative;
  display: block;
  width: 200px;
}

.wave-group .bar:before,
.wave-group .bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #3da557;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.wave-group .bar:before {
  left: 50%;
}

.wave-group .bar:after {
  right: 50%;
}

.wave-group .input:focus ~ .bar:before,
.wave-group .input:focus ~ .bar:after {
  width: 50%;
}

label {
  margin-bottom: 5px;
}

img#preview {
  max-width: 200px;
  max-height: 200px;
  margin-top: 10px;
}

.button-group {
  justify-content: center;
  display: grid;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  
}

/* 알바생 등록 버튼 스타일 */
.submit-button {
  background-color: #3da557;
  border: none;
  border-radius: 20px;
  padding: 8px 15px;
  font-size: 1rem;
  font-family: "Noto Sans KR", sans-serif;
  margin-top: 10px;
  color: #ffffff;
  cursor: pointer;
  width: 19.35rem;
}

/* "이전으로" 버튼 스타일 */
.back-button {
  background-color: #ffffff;
  border: 1px solid #3da557;
  border-radius: 20px;
  padding: 8px 15px;
  font-size: 1rem;
  font-family: "Noto Sans KR", sans-serif;
  color: #3da557;
  margin-top: 10px;
  cursor: pointer;
  width: 19.35rem;
}

/* 모바일 반응형 스타일 */
@media (max-width: 767px) {
  .alba-register {
    padding: 0 10px;
  }

  .alba-register h2 {
    font-size: 3.5rem;
    color: #3da557;
    width: 20rem;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    /* transform: translateY(20px);
    animation: fadeInUp 1s forwards;
    animation-delay: 1s; */
    line-height: 6rem;
  }

  .registerForm {
    background-color: #ffffff;
    border-radius: 25px;
    height: 80%;
    width: 20rem;
  }

  label {
    font-size: 1rem;
  }

  .wave-group {
    padding-top: 0px;
  }

  .wave-group .input {
    width: 12rem;
    border: none;
    border-bottom: 1px solid #999;
    background: transparent;
  }

  img#preview {
    max-width: 150px;
    max-height: 150px;
  }

  .button-group {
    margin: 0 ;
    margin-top: 10px;
    margin-bottom: 10px;
    
  }

  .back-button,
  .submit-button {
    font-size: 0.9rem;
    padding: 6px 10px;
    width: 13rem;
    height: 3rem;
  }
}
@media (max-height: 850px) {
  .registerForm {
    max-width: 700px;
  }

  .inputForm {
    max-width: 500px;
  }

}
