/* ------------------첫번째 섹션----------------- */
.first {
  color: #ffffff;
  text-align: center;
  padding: 300px 0; /* 섹션의 길이를 화면을 다 덮을 정도로 늘림 */
  position: relative;
}

&::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0); /* 배경 이미지 위에 검은색 반투명 레이어 생성 */
  z-index: -1;
  padding: 300px 0;
}

.first::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../asset/pictures/main_picture.avif") center/cover no-repeat;
  filter: blur(8px);
  opacity: 0.6;
  z-index: -1;
}

.first-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first h1 {
  font-family: "KBO-Dia-Gothic_bold";
  font-size: 8rem;
  margin: 0;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1.5s forwards;
  animation-delay: 1.5s;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.first-description {
  font-size: 24px;
  margin-top: 20px;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1.5s forwards;
  animation-delay: 1.5s;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.action-button {
  margin-top: 8rem;
  padding: 20px 5px;
  width: 53vh;
  background-color: #3da557;
  color: #ffffff;
  text-decoration: none;
  border-radius: 15px;
  font-size: 20px;
  transition: background-color 0.3s ease;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 2s forwards;
  animation-delay: 2s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.action-button:hover {
  background-color: #023f32;
}

/* 모바일 화면 스타일 */

@media (max-width: 767px) {
  .first {
    padding: 350px 10px;
  }

  .first h1 {
    font-size: 3.9rem;
  }

  .first-description {
    font-size: 1rem;
    width: 15rem;
    line-height: 1.5rem;
  }

  .action-button {
    padding: 20px;
    font-size: 1rem;
    margin-top: 4rem;
    width: 22vh;
  }
}

@keyframes fadeInUp {
  to {
    transform: translateY(0); /* 최종 위치로 이동 */
    opacity: 1;
  }
}

/* ------------------두번째 섹션----------------- */
.second {
  background-color: #f7f7f7;
  padding: 100px 0;
  display: flex;
  position: relative;
  align-items: center;
}

.second-content {
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.left-column,
.right-column {
  flex: 1; /* 두 컬럼이 동일한 너비를 가지도록 설정 */
  padding: 20px;
}

.left-column {
  text-align: left;
  margin-bottom: 20px;
}

.left-column h2 {
  font-family: "KBO-Dia-Gothic_bold";
  font-size: 2rem;
  margin: 0; /* 기존 margin을 제거하여 간격을 조정 */
}

.right-column {
  width: 60%;
}
.right-column p {
  font-size: 1.25rem;
  line-height: 1.6;
}

/* 모바일 화면 스타일 */

@media (max-width: 767px) {
  .second {
    padding: 100px 0;
  }

  .second-content {
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .left-column,
  .right-column {
    width: 100%;
    padding: 20px;
  }

  .left-column {
    text-align: center;
    margin-bottom: 10px;
  }

  .right-column {
    text-align: center;
    margin-top: 40px;
  }

  .right-column p {
    font-size: 0.9rem;
    line-height: 1.4;
  }
  .split-title {
    display: flex;
    flex-direction: column; /* 화면 줄어들 때 세로로 나열 */
  }

  .split-title h2 {
    font-size: 1.75rem; /* 제목 글씨 크기 조절 */
  }
}
