/* LOADING ANIMATION STYLE */
#loader {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #d2a362;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  z-index: 999;
}
@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

/* HIGILIGHT FADE */
@keyframes highlightFade {
  from {
    background-color: #e1c196;
  }
  to {
    background-color: transparent; /* 투명으로 서서히 사라짐 */
  }
}

.highlighted {
  animation: highlightFade 3s forwards; /* 3초 동안 진행하며 애니메이션 끝나면 마지막 상태 유지 */
}

/* COMMON */
body {
  color: #333;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.4;
  font-family: 'Nanum Gothic', sans-serif;
  overflow: auto;
  text-align: center;
}
img {
  /* img를 block으로 처리하여 기존 inline의 baseline으로 인한 불필요한 margin 제거 */
  display: block;
}
a {
  text-decoration: none;
}
.inner {
  /* common 으로 inner를 정의함으로써 하위 inner들은 height만을 지정하여 편리하게 사용할 수 있도록 함 */
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  /* 하위 구조에서 position 사용중이기 때문에 부모인 .inner에서 position relative로 지정하여 기준을 명시해줌 */
  position: relative;
}
.btn {
  background-color: #d2a362;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
.btn.disabled {
  background-color: #ccc; /* 회색 배경으로 설정 */
  cursor: not-allowed; /* 마우스 커서를 not-allowed로 표시 */
}
.search {
  width: 200px;
  padding: 10px;
}
.no-scroll {
  overflow: hidden;
  height: 100%;
}

/* HEADER */
header {
  max-width: 100%;
}
header .inner {
}
header .inner h1 {
  /* body의 font-size가 10px로 설정되어 있으므로, body 이하의 font-size는 상대 사이즈 사용 */
  font-size: 3.6em; /* 타이틀 크기 설정 */
  font-weight: bold;
  padding-top: 30px;
  padding-bottom: 20px;
  text-align: left;
}

/* TOOLBAR */
.toolbar {
  max-width: 100%;
}
.toolbar .inner {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
.toolbar .inner .toolbar__btn {
}
.toolbar .inner .toolbar__btn .btn {
  border-radius: 0.4em;
}
.toolbar .inner .toolbar__btn .btn:first-child {
  margin-right: 0.4em;
}
.toolbar .inner .toolbar__search {
}
.toolbar .inner .toolbar__search .search {
}

/* STAFF LIST */
.staff-list {
  display: inline-block;
  max-width: 100%;
}
.staff-list .inner {
  max-width: 100%;
}
.staff-list .inner .staff-list__title {
  display: grid;
  grid-template-columns: 0.5fr 0.8fr 1fr 1fr 1fr 1fr; /* 선택한 가로 너비 비율로 정렬 */
  font-size: 1.6em;
  font-weight: bold;
  align-items: center;
  border-top: 1px solid #ddd; /* 위쪽 구분선 */
  border-bottom: 1px solid #ddd; /* 아래쪽 구분선 */
  padding: 10px 0; /* 패딩 추가 */
}
.staff-list .inner .staff-list__title #selectAll {
}
.staff-list .inner .staff-list__title span {
  text-align: center;
}
.staff-list .inner .staff-list__item {
  margin-bottom: 8em;
}
.staff-list .inner .staff-list__item ul {
}
.staff-list .inner .staff-list__item ul li {
  display: grid;
  grid-template-columns: 0.5fr 0.8fr 1fr 1fr 1fr 1fr; /* .staff-list__title과 동일한 비율로 정렬 */
  align-items: center;
  text-align: center;
  border-bottom: 1px solid #ddd;
  padding: 10px 0; /* 패딩 추가 */
}
.staff-list .inner .staff-list__item ul li .item-image {
  width: 100%; /* 이미지가 너비를 꽉 채우도록 설정 */
  height: auto; /* 이미지가 원본 비율을 유지하도록 설정 */
  border-radius: 1.6em;
}
.staff-list .inner .staff-list__item ul li .item-checkbox {
}
.staff-list .inner .staff-list__item ul li .item-name,
.staff-list .inner .staff-list__item ul li .item-email,
.staff-list .inner .staff-list__item ul li .item-phone,
.staff-list .inner .staff-list__item ul li .item-category {
  font-size: 1.6em;
}

/* OVERLAY */
.overlay-register,
.overlay-staff {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 100;
  display: none;
}
.overlay-register.show,
.overlay-staff.show {
  display: block;
}
/* 오버레이시 선택된 스태프 아이템 강조 색상 표시 */
.selected-item {
  background-color: #f0f0f0;
}

/* REGISTER MODAL */
.register-modal {
  position: fixed;
  top: 0;
  right: -60%;
  width: 60%;
  height: 100%;
  background: #fff;
  overflow-y: auto; /* 모달 내부의 스크롤 적용 */
  transition: right 0.3s ease;
  display: flex;
  flex-direction: column;
  z-index: 101; /* overlay보다 높은 z-index */
  text-align: left;
}
.register-modal.show {
  right: 0;
}
.register-modal .container {
  padding: 2em;
}
.register-modal .register-modal__title {
  justify-content: center;
  align-items: center;
}
.register-modal .register-modal__title h2 {
  font-size: 3.2em;
  font-weight: bold;
}
.register-modal .register-modal__sub-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 0.4em;
}
.register-modal .register-modal__sub-title h3 {
  font-size: 2.4em;
  font-weight: bold;
}
.register-modal .register-modal__sub-title .btn {
  border-radius: 0.4em;
}
.divider {
  border-bottom: 1px solid #e0e0e0;
}
.register-modal .register-modal__content {
  padding: 2em 0;
}
.register-modal .register-modal__content .register-modal__input-field #staff-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: auto;
  font-size: 1.2em;
  padding: 1.6em 0;
}
.register-modal__content .register-modal__input-field #staff-form input {
  margin-bottom: 1.2em;
  padding: 15px;
  font-size: 1.2em;
  border-radius: 0.4em;
  border: 1px solid #e0e0e0;
}

/* STAFF MODAL */
.staff-modal {
  position: fixed;
  top: 0;
  right: -60%;
  width: 60%;
  height: 100%;
  background: #fff;
  overflow-y: auto; /* 모달 내부의 스크롤 적용 */
  transition: right 0.3s ease;
  display: flex;
  flex-direction: column;
  z-index: 101; /* overlay보다 높은 z-index */
  text-align: left;
}
.staff-modal.show {
  right: 0;
}
.staff-modal .container {
  padding: 2em;
}
.staff-modal .staff-modal__title {
  justify-content: center;
  align-items: center;
}
.staff-modal .staff-modal__title h2 {
  font-size: 3.2em;
  font-weight: bold;
}
.staff-modal .staff-modal__sub-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 0.4em;
}
.staff-modal .staff-modal__sub-title h3 {
  font-size: 2.4em;
  font-weight: bold;
}
/* staff-modal 버튼 공통 스타일 */
.staff-modal__sub-title .btn,
.change-image-btn {
  border-radius: 0.4em;
}
.staff-modal__sub-title .btn.cancel-btn {
  background-color: #ccc;
}
/* 사진 변경 버튼 스타일 */
.change-image-btn {
  display: none; /* 초기 상태에서는 숨김 */
  border: 1px solid #e0e0e0;
  padding: 10px 20px;
  font-size: 1.8em;
  width: 40%;
  margin-left: -0px;
  cursor: pointer;
}
.change-image-btn.show {
  display: block;
}
.divider {
  border-bottom: 1px solid #e0e0e0;
}
.staff-modal .staff-modal__content {
  padding: 2em 0;
  display: flex;
}
.staff-modal .staff-modal__content .info-image {
  flex: 0 0 40%; /* 이미지는 고정 너비 40%로 설정 */
  max-width: 40%;
  height: auto;
  border-radius: 1.6em;
}
.staff-modal .staff-modal__content .staff-modal__info {
  font-size: 1.8em;
  flex: 1; /* 나머지 부분을 채우도록 설정 */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
.staff-modal .staff-modal__content .staff-modal__info input[type='text'] {
  width: 100%; /* 입력 필드의 높이를 해당 셀의 높이와 동일하게 설정 */
  font-size: 1em;
  padding: 0.5em 1em;
  align-items: center; /* 값 수직으로 중앙 정렬 */
  justify-content: start;
}
.staff-modal .staff-modal__content .staff-modal__info .info-name,
.staff-modal .staff-modal__content .staff-modal__info .info-email,
.staff-modal .staff-modal__content .staff-modal__info .info-phone,
.staff-modal .staff-modal__content .staff-modal__info .info-category {
  display: grid;
  grid-template-columns: 1fr 3fr; /* 첫 번째 열은 레이블, 두 번째 열은 정보 */
  border: 1px solid #e0e0e0; /* grid 보더 적용 */
  margin: 0 2em;
}
.staff-modal .staff-modal__content .staff-modal__info .info-name__label,
.staff-modal .staff-modal__content .staff-modal__info .info-email__label,
.staff-modal .staff-modal__content .staff-modal__info .info-phone__label,
.staff-modal .staff-modal__content .staff-modal__info .info-category__label {
  font-weight: bold;
  background-color: #f5f5f5; /* 연한 회색의 백그라운드 색 적용 */
  padding: 1em; /* 레이블에 패딩 추가 */
  display: flex;
  align-items: center; /* 레이블을 수직으로 중앙 정렬 */
  justify-content: center;
  border-right: 1px solid #e0e0e0; /* 열을 구분하는 보더 적용 */
}
.staff-modal .staff-modal__content .staff-modal__info .info-name__content,
.staff-modal .staff-modal__content .staff-modal__info .info-email__content,
.staff-modal .staff-modal__content .staff-modal__info .info-phone__content,
.staff-modal .staff-modal__content .staff-modal__info .info-category__content {
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: start;
}

/* TO TOP */
#to-top {
  width: 42px;
  height: 42px;
  background-color: #d2a362;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9;
  transform: translateX(100px); /* 초기에 오른쪽으로 밀기 */
}

/* 기본: 데스크탑 우선 */

/* 태블릿 스타일 (너비 768px~1024px) */
/* 태블릿은 이번 과제 조건에서 벗어남, 추후 태블릿 적용도 고려 예정 */
/* 태블릿 전용으로 따로 미디어 쿼리를 설정하지는 않았지만, 기본적으로 데스크탑 또한 반응형을 고려하여 상대수치를 적극 사용하였기에, */
/* 일정 수준의 태블릿에 대해서는 문제 없이 화면 크기에 맞춰 지원 됨 */

/* 모바일 스타일 (너비 768px 미만) */
@media (max-width: 768px) {
  /* MOBILE: COMMON */
  body {
    width: auto;
    padding: 1.6em;
  }
  .inner {
    width: auto;
  }

  /* MOBILE: TOOLBAR */
  .toolbar .inner {
    flex-direction: column;
    align-items: flex-start;
  }
  .toolbar .inner .toolbar__btn {
    margin-bottom: 1.2em;
  }

  /* MOBILE: STAFF LIST */
  .staff-list {
    display: block;
  }
  .staff-list__title span:nth-child(3),
  .staff-list__title span:nth-child(4),
  .staff-list__title span:nth-child(5),
  .staff-list__title span:nth-child(6) {
    display: none; /* 이름, 이메일, 연락처, 구분을 숨김 */
  }
  .staff-list__title input[type='checkbox'] + span {
    display: none; /* 체크박스 옆의 '사진' 문자열 숨김 */
  }
  .staff-list__title {
    display: grid;
    grid-template-columns: 1fr 3fr; /* 체크박스와 '임직원 정보'를 위한 그리드 */
  }
  .staff-list__title input[type='checkbox'] {
    order: 1; /* 체크박스를 첫 번째로 위치 */
  }
  .staff-list__title:before {
    content: '임직원 정보'; /* 체크박스 옆에 '임직원 정보'라는 문자열 표시 */
    order: 2; /* 두 번째로 위치 */
    display: flex;
    align-items: center; /* 세로 방향 중앙 정렬 */
    justify-content: center; /* 가로 방향 중앙 정렬 */
  }
  .staff-list .inner .staff-list__title {
    grid-template-columns: 1fr 3fr;
  }
  .staff-list .inner .staff-list__item .item-image {
    display: none; /* 리스트 아이템 내부 이미지 숨김 */
    visibility: hidden; /* 안 보이게 설정 */
  }

  /* MOBILE: SORT CONTROL */
  .staff-modal .staff-modal__content .info-image {
    display: block; /* 모달 창에서 이미지 보이게 설정 */
    visibility: visible; /* 보이게 설정 */
  }
  .staff-list .inner .staff-list__item ul li {
    display: grid;
    grid-template-columns: 1fr 3fr; /* 체크박스와 이름을 위한 그리드 */
    grid-template-rows: auto auto auto auto;
    gap: 8px;
    width: 100%;
  }
  .item-checkbox {
    grid-row: 1;
    grid-column: 1; /* 첫 번째 컬럼 차지 */
  }
  .item-name,
  .item-email,
  .item-phone,
  .item-category {
    grid-column: 2; /* 두 번째 컬럼 차지 */
    display: flex;
    align-items: center; /* 세로 방향 중앙 정렬 */
    justify-content: center; /* 가로 방향 중앙 정렬 */
  }

  /* MOBILE: MODAL */
  .register-modal,
  .staff-modal {
    position: fixed;
    top: 0;
    right: -80%;
    width: 80%;
    height: 100%;
    background: #fff;
    overflow-y: auto; /* 모달 내부의 스크롤 적용 */
    transition: right 0.3s ease;
    display: flex;
    flex-direction: column;
    z-index: 101; /* overlay보다 높은 z-index */
    text-align: left;
  }

  /* MOBILE: REGISTER MODAL */
  .register-modal .register-modal__content .register-modal__input-field #staff-form {
    width: 100%;
  }
  /* MOBILE: STAFF MODAL */
  .staff-modal .staff-modal__sub-title {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 2em 0.4em;
  }
  .staff-modal .staff-modal__sub-title h3 {
    margin-bottom: 0.8em;
  }
  .staff-modal__sub-title .btn {
    margin-right: 0.4em;
  }
  /* 사진 변경 버튼 스타일 */
  .change-image-btn {
    width: 100%;
  }
  .staff-modal .staff-modal__content {
    display: flex; /* 플렉스박스로 설정 */
    flex-direction: column;
    align-items: stretch; /* 자식 요소들을 부모의 너비로 늘림 */
    width: 100%; /* 컨텐츠 영역 너비를 최대로 설정 */
  }
  .staff-modal .staff-modal__content .info-image,
  .staff-modal .staff-modal__content .staff-modal__info {
    flex: 0 0 100%; /* 이미지 및 인포 영역 너비를 100%로 설정 */
    max-width: 100%;
  }
  .staff-modal .staff-modal__content .info-image {
    margin-bottom: 2em;
  }
  .staff-modal .staff-modal__content .staff-modal__info {
    font-size: 1.4em; /* 폰트 사이즈 조정 */
    width: 100%; /* 전체 영역의 너비를 모달의 최대 넓이로 설정 */
  }
  .staff-modal .staff-modal__content .staff-modal__info input[type='text'] {
    width: 85%; /* 입력 필드 너비 조절 */
  }
  .staff-modal .staff-modal__content .staff-modal__info .info-name,
  .staff-modal .staff-modal__content .staff-modal__info .info-email,
  .staff-modal .staff-modal__content .staff-modal__info .info-phone,
  .staff-modal .staff-modal__content .staff-modal__info .info-category {
    margin: 0;
  }
  .staff-modal .staff-modal__content .info-name__label,
  .staff-modal .staff-modal__content .info-email__label,
  .staff-modal .staff-modal__content .info-phone__label,
  .staff-modal .staff-modal__content .info-category__label {
    min-width: 50%; /* 라벨의 최소 너비 설정 (필요에 따라 조정) */
    white-space: nowrap; /* 글씨가 세로로 나열되지 않게 설정 */
  }
}
