html,
body {
  width: 100%;
  height: 100%;
  font-size: 20px;
  font-weight: 600;
}
a {
  text-decoration: none;
  color: white;
}
.inner {
  width: 72rem;
}
main .inner {
  border-left: 3px solid black;
  border-right: 3px solid black;
}

.information {
  position: absolute;
  top: calc(50% - 17.5rem);
  left: calc(50% - 12.5rem);
  width: 25rem;
  height: 35rem;
  background-color: rgb(1, 1, 160);
  color: white;
  transition: opacity 1s;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 2.5rem;
}
.information form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  margin-top: 4rem;
}
.information form input {
  width: 15rem;
  height: 1.5rem;
}
.text {
  width: 7.5rem;
  text-align: center;
  display: flex;
  justify-content: center;
  white-space: nowrap;
}
.button {
  width: auto;
  height: 1.5rem;
  line-height: 1.5rem;
  background-color: rgb(1, 1, 160);
  color: white;
  border-radius: 0.25rem;
  cursor: pointer;
  padding: 0.5rem;
  transition: transform 0.3s;
}

h1 {
  font-size: 1.5rem;
  font-weight: 600;
}
.wall {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 1s;
  z-index: 1;
}
.inner {
  height: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}
.hidden {
  visibility: hidden;
  opacity: 0;
}
.visible {
  visibility: visible;
  opacity: 1;
}

header .inner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
  border-bottom: 3px solid black;
  gap: 2rem;
}

main .inner {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem;
  gap: 30px;
}

.profile {
  position: relative;
  height: 10rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.7);
}
.profile .people-img {
  margin: 0;
  border-radius: 0;
}

.owner {
  position: absolute;
  text-align: center;
  line-height: 1.5rem;
  top: 0;
  left: 0;
  background-color: yellow;
  padding: 5px;
}
.blink {
  animation: blinking 0.2s infinite;
}
@keyframes blinking {
  0%,
  100% {
    background-color: rgba(255, 255, 0, 0);
  }
  50% {
    background-color: rgba(255, 255, 0);
  }
}

.add-function-wrap {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.buttons {
  display: flex;
}

.button:hover {
  transform: scale(1.1);
}

#delete-btn {
  margin-left: 20px;
}

.information #form-exit {
  font-size: 2rem;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.list-head {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  box-sizing: border-box;
}

.list-head .first {
  width: 16rem;
  display: flex;
  gap: 6.5rem;
}

.list-head .second {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.list-main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.item {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  height: 15rem;
  box-sizing: border-box;
  box-sizing: border-box;
  margin: 0.5rem 0;
  border: 3px solid black;
  cursor: pointer;
}

.item .checkbox-img-wrap {
  display: flex;
  gap: 5rem;
}

.people-img {
  width: 10rem;
  height: 10rem;
  background-color: white;
  margin-top: 2.5rem;
  border-radius: 0.5rem;
}

.people-text {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.material-symbols-outlined.edit {
  position: absolute;
  top: 5px;
  right: 5px;
  visibility: hidden;
}

.item:hover .material-symbols-outlined.edit {
  visibility: visible;
}

footer {
  width: 100%;
  height: 10rem;
}
footer .inner {
  border-top: 3px solid black;
}
@media (max-width: 1439px) {
  html,
  body {
    font-size: 15px;
  }
}
@media (max-width: 1079px) {
  html,
  body {
    font-size: 10.7px;
  }
  .list-head .second {
    margin-left: 7px;
  }
}
@media (max-width: 700px) {
  html,
  body {
    font-size: 5.4px;
  }
  .inner {
    width: 100%;
    min-width: 400px;
    font-size: 12px;
  }
  #all-check {
    flex: 1;
  }
  .list-head .second {
    padding-left: 10px;
  }
  main .inner {
    border-left: none;
    border-right: none;
  }
  .information {
    position: absolute;
    top: calc(50% - 35rem);
    left: calc(50% - 25rem);
    width: 50rem;
    height: 70rem;
    font-size: 15px;
  }
  .information form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7rem;
    margin-top: 2rem;
  }
  .information #form-exit {
    font-size: 4rem;
  }
  .information form h1 {
    font-size: 3rem;
  }
  .information form input {
    width: 30rem;
    height: 3rem;
  }
  .information form input[type='file'] {
    width: auto;
    height: auto;
    margin-left: 90px;
  }
  .p-data {
    line-height: 19px;
  }
  input {
    font-size: 15px;
  }
  .button {
    padding: 2rem;
    font-size: 3rem;
  }
  .material-symbols-outlined.edit {
    font-size: 3rem;
  }
}
