.detail-container{
  margin-top:8rem;
}
.detail-index{
  font-size: 2rem;
  margin-left: 2rem;
  margin-top: 2rem;
  font-weight: 900;
}
.detail-profile-card{
  display:block;
  background-color: rgb(30,30,30);
  color:rgb(173, 255, 80);
  padding:50px 40px;
  margin:10px 20px;
  box-shadow: 10px 10px 20px lightgray;
  border-radius: 15px;
  align-items:center;
}

.detail-button{
  background-color: rgb(30,30,30);
  color:rgb(173, 255, 80);
  height:1.5rem;
  border:none;
  border-radius: 10px;
  margin:10px;
  padding: 2px 5px;
  font-size: 12px;
  font-weight: 900;
  transition: background-color 0.35s;
}
.detail-button:first-child{
  margin-left:30px;
}
.detail-button:hover{
  background-color: rgb(173, 255, 80);
  color:black;
}
.detail-profile-image{
  width:15rem;
  height:15rem;
  margin:10px;
  object-fit: cover;
}
.detail-text-container{
  display:flex;
  flex-direction: column;
  margin-left:2rem;
  color:aliceblue;
}
.detail-text-container h1{
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color:rgb(173, 255, 80);
}
.detail-text-container .subtitle{
  margin-top:1rem;
  font-weight: 900;
  color:rgb(173, 255, 80);
}
label, #btn__img-delete {
  background-color: rgb(30,30,30);
  border: 1px solid rgb(173, 255, 80);
  color: rgb(173, 255, 80);
  padding: 3px 20px;
  margin: 0px 5px;
  border-radius: 20px;
  font-weight: 900;
  transition: background-color 0.3s, color 0.2s;
}
#btn__img-delete {
  margin-left:30px;
}
label:hover, #btn__img-delete:hover {
  background-color: rgb(173, 255, 80);
  color:rgb(30,30,30);
}

@media (min-width:1024px){
  .detail-container{
    width:1010px;
    margin:8rem auto;
  }
}
@media (min-width:640px){
  .detail-profile-card{
    display: flex;
  }
}