*{
    font-family: 'Gowun Dodum', sans-serif !important;
}

html{
    font-size: 20px;
}

header {
    background-color: #333;
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    padding: 1rem 0;
}

body {
    background-color: #f5f5f5;
}

#pf-main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh; /* 화면 높이의 70%로 설정 */
}

#pf-main-contents{
    background-color: white;
    border: 1px solid black;
    padding: 15px 30px;
}

#pf-profile-wrapper{
    display: flex;
    justify-content: center;
}

#pf-labels{
    margin-right: 15px;
}

.pf-label{
    font-weight: bold;
}

.pf-profile-contents > div{
    margin: 10px 0;
}

#pf-img-wrapper{
    display: flex;
    justify-content: center;
}

#pf-go-back-wrapper{
    display: flex;
    justify-content: center;
}

#pf-go-back{
    font-weight: bold;
    color: white;
    text-decoration: none;
    background-color: skyblue;
    border-radius: 10px;
    padding: 5px;
}