.registration-form {
  width: 500px;
  height: 42em;
  background-color: #f9f9f9;

  padding: 20px;
  margin-top: 10px;

  border: 1px solid #ccc;
  border-radius: 20px;

  display: none;

  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.registration-form h2 {
  font-size: 1.2em;
  margin-bottom: 30px;
}

.registration-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.registration-form input[type="text"],
.registration-form input[type="email"],
.registration-form input[type="tel"] {
  width: 100%;

  padding: 5px;
  margin-bottom: 10px;

  border: 1px solid #ccc;
}


.registration-form .uploaded-photo-container {
  width: 120px;
  height: 150px;
  
  overflow: hidden;
  margin: 10px 0;
}

.registration-form .uploaded-photo-container img {
  width: 100%;
  height: auto;
}

.registration-form #defaultPhoto {
  width: 120px;
  height: 150px;
}

/* 화면 너비가 768px 이하일 때의 스타일 */
@media screen and (max-width: 768px) {
  .registration-form {
    width: 80%; 
    max-width: 400px;
    height: auto; 

    padding: 10px; 
  }

  .registration-form h2 {
    margin-bottom: 20px; 

    font-size: 1em; 
  }

  .registration-form label {
    margin-bottom: 3px; 
  }

  .registration-form input[type="text"],
  .registration-form input[type="email"],
  .registration-form input[type="tel"] {
    padding: 3px; 
    margin-bottom: 8px; 
  }
}