form {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 300px;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 2px solid $bg-gray-700;
  border-radius: $card-border-radius;
  box-shadow: $card-shadow;
  z-index: 1000;

  .form__container {
    width: 100%;
    position: relative;
    display: flex;
    padding: 1.2rem;
    flex-direction: column;

    .close-btn {
      position: absolute;
      top: 1rem;
      right: 1rem;
      font-size: 1rem;
      padding: 0.2rem;
      z-index: 10;
      cursor: pointer;
    }

    &.hidden {
      display: none;
    }

    .form__input-image {
      position: relative;
      z-index: 2;

      &.invisible {
        position: absolute;
        top: 1rem;
        left: 1rem;
        opacity: 0;
      }

      .form__label-image {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 120px;
        height: 120px;
        margin-bottom: 1rem;
        border-radius: $card-border-radius;
        background-color: $bg-gray-100;

        &:hover {
          background-color: $bg-gray-200;
        }

        &:active {
          scale: 0.95;
        }
      }
      // 기존 인풋 박스 없애기
      .form__input-hidden {
        display: none;
      }
    }

    // 이미지 선택시 보이게
    .form__image-box {
      width: 100%;
      margin-bottom: 1rem;

      .form__image-preview {
        width: 120px;
        height: 120px;
        object-fit: cover;
        border-radius: $card-border-radius;
      }
    }

    .input-text {
      width: 100%;
      margin-bottom: 1rem;

      input {
        position: relative;
        font-size: 1rem;
        width: 100%;
        height: 100%;
        background-color: $bg-gray-100;
        border-radius: 4px;
        border: none;
        outline: none;
        padding: 10px;
        margin-bottom: 5px;

        &:focus {
          background-color: map-get($map: $theme-colors, $key: bg-second);
        }
      }

      .select {
        position: relative;
        width: 100%;
        height: 100%;

        .arrow {
          position: absolute;
          font-size: 1rem;
          top: 13px;
          right: 10px;
          pointer-events: none;
        }

        select {
          font-family: inherit;
          font-size: 1rem;
          width: 100%;
          height: 100%;
          background-color: $bg-gray-100;
          border-radius: 4px;
          border: none;
          outline: none;
          padding: 10px;
          margin-bottom: 5px;

          -o-appearance: none;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;

          &::-ms-expand {
            display: none;
          }
        }
      }

      label {
        display: none;
      }
    }

    .form__input-submit {
      font-size: 1rem;
      font-weight: $font-semi;
      padding: 1rem 2rem;
      border: none;
      border-radius: 5px;
      background-color: map-get($map: $theme-colors, $key: bg-primary);
      width: auto;
      cursor: pointer;
    }
  }
}

// 이미지 업로드 시, 이미지 폼 없애고 이미지 보여지게
