.form__container {
  display: flex;
  flex-direction: column;

  &.hidden {
    display: none;
  }

  .form__input-image {
    .form__label {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 120px;
      height: 120px;
      background-color: $bg-gray-100;

      &:hover {
        background-color: $bg-gray-200;
      }
    }

    // 기존 인풋 박스 없애기
    .form__input-hidden {
      visibility: hidden;
    }
  }

  // 이미지 선택시 보이게
  .form__image-box {
    width: 120px;
    height: 120px;
    border: 1px solid;

    .form__image-preview {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

// 이미지 업로드 시, 이미지 폼 없애고 이미지 보여지게
