body {
  width: 500px;
}

.title {
  margin: 30px;
}
.information {
  margin: 20px;
  border-bottom: 1px solid whitesmoke;
}

.p-img {
  width: 200px;
  height: 200px;
  padding: 10px;
}

.div1,
.div2,
.div3,
.div4,
.div5 {
  display: flex;
  align-items: center;
  border-bottom: 1px solid whitesmoke;
}

.h4-name,
.h4-email,
.h4-phone,
.h4-category {
  width: 100px;
  margin: 20px;
}
