body {
  width: 500px;
}

.title {
  margin: 30px;
}
.information {
  margin: 20px;
  border-bottom: 1px solid lightseagreen;
}

.animate__animated {
  width: 200px;
  height: 200px;
  padding: 10px;
}

.div1,
.div2,
.div3,
.div4,
.div5 {
  display: flex;
  align-items: center;
}

.h4-name,
.h4-email,
.h4-phone,
.h4-category {
  width: 100px;
  margin: 10px;
  padding: 10px;
}

.p-name,
.p-email,
.p-phone,
.p-category {
  margin: 10px;
  width: 300px;
  padding: 5px;
  border-bottom: 1px solid lightgrey;
}
