.myForm__content{
    display: flex;
    flex-direction: 
}
.content_texts {
    font-size: 1.2rem;
    margin-right: 3rem;
}
.content_text {
    margin-bottom: 1rem;
}


.content_img {
    width: 150px;
    height: 150px;
    margin-left: 10px;
}


