/* Desktop - 2

position: relative;
width: 1440px;
height: 1024px;

background: #FFFFFF; */


/* Frame 3 */

/* position: absolute;
width: 1380px;
height: 417px;
left: 30px;
top: 607px; */



/* Frame 7 */

/* Auto layout */
/* display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
padding: 10px;
gap: 10px;

position: absolute;
width: 1380px;
height: 50px;
left: 0px;
top: 24px; */



/* Frame 4 */

/* Auto layout */
/* display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
align-content: flex-start;
padding: 0px;
gap: 181px;

position: absolute;
width: 1380px;
height: 50px;
left: 30px;
top: 533px;

filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */


/* Frame 5 */

/* width: 213px;
height: 50px;

background: #DFDFDF; */

/* Inside auto layout */
/* flex: none;
order: 0;
flex-grow: 0; */


/* Rectangle 12 */

/* position: absolute;
width: 96px;
height: 50px;
left: 0px;
top: 0px;

/* Blue 1 */
/* background: #2F80ED; */ 


/* Rectangle 11 */

/* position: absolute;
width: 96px;
height: 50px;
left: 117px;
top: 0px;

background: #FF1F1F; */


/* Frame 6 */

/* width: 447px;
height: 50px;

background: #DFDFDF; */

/* Inside auto layout */
/* flex: none;
order: 1;
flex-grow: 0; */


/* Rectangle 13 */

/* position: absolute;
width: 330px;
height: 50px;
left: 0px;
top: 0px;

background: #F80000; */


/* Rectangle 14 */

/* position: absolute;
width: 97px;
height: 50px;
left: 350px;
top: 0px;

background: #FFE601; */


body {
  margin: 0;
  padding: 0;
  height: 100%
}

.section__customer--management {
  display: flex;
  flex-direction: column;
}

.section__customer--nav {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
}

.section__customer--search {
  display: flex;
}

.section__customer--list {
  display: flex;
  flex-direction: column;
  background-color: lightblue;
  width: 100%;
  height: 100%;
}

.section__customer--template {
  display: flex;
  flex-direction: column;
}

/* .section__customer--template > ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding: 0 2rem;
} */

.section__customer--template>ul {
  display: grid;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0 2rem;
  grid-template-columns: 0.1fr 0.1fr 0.2fr 0.2fr 0.15fr 0.1fr 0.1fr 0.1fr 0.1fr;
}