.header {
  display: flex;
  font-family: "Noto Light", sans-serif;
  align-items: center;
  padding: 10px;
}
.nav {
  padding: 10px;
}
.profile-container {
  display: flex;
  width: 100;
}
.profile-info {
  display: flex;
  flex-wrap: wrap;

  border-top: 1px solid gainsboro;
  border-bottom: 1px solid gainsboro;
}
.profile-container input {
  margin: 10px;
}

.employee {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 10px;
}

.p-img,
.p-name,
.p-email,
.p-phone,
.p-category {
  margin: 20px;
}
