* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

button {
    background: none;

    outline: none;
    border: none;

    cursor: pointer;
}

main {
    /* 나중에 조정하기 */
    min-height: 100vh;
    padding: 2rem 1.5rem;
}
.title {
    margin-bottom: 50px;
}

.buttons {
    display: inline-block;
}

.buttons button {
    background-color: rgb(32, 80, 255);
    color: #fff;

    padding: 10px;
    margin: 20px 3px;
}

.search {
    float: right;

    width: 300px;
    
    margin: 20px;
    
    position: relative;
}

.search input {
    width: 100%;

    padding: 10px 12px;
    
    border: 1px solid #bbb;
    border-radius: 8px;

    font-size: 14px;
}

.search img {
    width: 17px;

    margin: 0;

    position : absolute;
    top: 10px;
    right: 12px;

    cursor: pointer;
  }

  .emp-list{
    display: flex;
    flex-direction: column;
  }

  .emp-list .list-header {
    border-top: 2px solid #bbb;
    border-bottom: 2px solid #bbb;
  }

  .emp-list .list-item {
    border-bottom: 1px solid #d7d7d7;
  }

  .emp-list .list-row {
    display: flex;
  }

  .emp-list .list-row .checkbox{
    margin: 0 10px;
  }

  .emp-list .list-row .list-cell {
    flex: 1;

    padding: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
  }


