.header {
  display: flex;
  font-family: "Noto Light", sans-serif;
  align-items: center;
  padding: 10px;
}
.nav {
  padding: 10px;
  display: flex;
}
.search-img {
  width: 30px;
  height: 30px;
  margin-left: 30px;
}

.search-div {
  display: flex;
  align-items: center;
}
.profile-container {
  display: flex;
  width: 100;
}
.profile-info {
  border: 1px solid lightgray;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}
.profile-container input {
  margin: 10px;
}

.employee {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 10px;
}

.p-img,
.p-name,
.p-email,
.p-phone,
.p-category {
  margin: 20px;
}

/* desktop 규격 */
@media screen and (min-width: 1024px) {
  body {
  }
}

/* tablet 규격 */
@media screen and (max-width: 1023px) {
  body {
  }
  .profile-info {
    flex-basis: calc(50% - 50px); /* 두 개의 요소가 한 줄에 배치되도록 설정 */
    margin: 10px;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
  }
  .employee {
    flex-basis: 100%; /* 두 개의 요소가 한 줄에 배치되도록 설정 */
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #ccc;
  }
}

#loading {
  width: 20px;
  height: 20px;
}

/* 스타일 추가 */
#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 흐려진 배경색과 투명도 설정 */
  display: none;
  justify-content: center;
  align-items: center;
}

#loading img {
  max-width: 100px; /* 로딩 이미지의 최대 너비 설정 */
}
