input {
    background-color: $grayFA;
    border-top-right-radius: 0.6rem;
    border-bottom-right-radius: 0.6rem;
    border: none;
    color: $gray76;
    font-size: 1.4rem;
    height: 100%;
    padding: 0.5rem 1.2rem 0.5rem 3.2rem;
}

input:focus {
    background-color: #fff;
}

input::placeholder {
    font-size: 1.2rem;
}
