<!DOCTYPE html>
<html style="font-size: 1.1vw" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>운전자 보험금 기다림 제로, zero car!</title>
    <link rel="stylesheet" href="../../assets/css/style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="load">
      <h1 id="load-title">보험금 심사, 빠르게 진행시켜! 영 차!</h1>
    </div>
    <div id="back">
      <button>← 뒤로가기</button>
    </div>
    <main id="confirm">
      <div id="accidentProfile">
        <div id="accidentDriver">
          <img id="driverImg" alt="보험자 사진" />
          <p id="driverName"></p>
        </div>
        <div id="accidentInfo">
          <img id="accidentImg" alt="사고 사진" />
          <p id="accidentDate"></p>
        </div>
      </div>

      <button class="expectMoney confirmBtn"></button>
      <p id="confirmNote">보험금을 지급하려면 위 버튼을 누르세요.</p>
    </main>
  </body>
  <script defer src="../../assets/js/confirmAccident.js"></script>
</html>
