<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>운전자 보험금 관리, 영차!</title>
    <link rel="stylesheet" href="../../assets/css/style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="load">
      <h1 id="load-title">보험금 빠르게 진행 시켜, 0차!</h1>
    </div>
  </body>
  <script defer src="../../assets/js/index.js"></script>
</html>
