@import "./_mixin.scss";

#detail {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  .detail {
    &__top {
      display: flex;
      justify-content: center;
      align-items: center;
      .user__picture {
        flex-shrink: 0;
        width: 30%;
        max-width: 350px;
        aspect-ratio: 1/1;
        background: lightgray;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
    &__mid {
      .user {
        &__info {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          row-gap: 2px;
          width: 100%;
          overflow: hidden;
          &__list {
            display: flex;
            align-items: center;
            height: 100%;
            border-radius: 8px;
            overflow: hidden;
          }
          &__tit {
            @include flex(center, center);
            flex-shrink: 0;
            font-weight: 700;
            width: 75px;
            height: 100%;
            padding: 8px;
            background: $main-color;
            color: white;
          }
          &__content {
            @include flex($ai: center);
            background: whitesmoke;
            width: 100%;
            height: 100%;
            padding: 8px;
            @include fontCut;
          }
        }
      }
    }
    &__bot {
      flex: 1;
      padding-bottom: 1rem;
      .etc-box {
        display: flex;
        flex-direction: column;
        height: 100%;
        span {
          font-size: 20px;
          font-weight: 700;
          margin-bottom: 8px;
        }
        .etc {
          width: 100%;
          height: 100%;
          border: 1px solid #999;
          padding: 10px;
        }
      }
    }
  }
}
