@import "./_mixin.scss";

* {
  box-sizing: border-box;
}

html {
  @include font(16px, #333, 400);
}

a {
  color: #333;
  &:link {
    text-decoration: none;
  }
  &:visited,
  &:active {
    color: #333;
  }
}
input {
  outline: none;
}

body {
  display: flex;
  height: 100vh;
  background: lightgray;
}

aside {
  flex-shrink: 0;
  width: 300px;
  height: 100%;
  background: white;
  padding: 1rem;
  .logo-wrap {
    margin-bottom: 1rem;
    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      aspect-ratio: 1/0.25;
      background: $main-color;
      cursor: pointer;
      @include font(1.25rem, #fff, 800);
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        color: #fff;
      }
    }
    .aside-closer {
      display: none;
    }
  }
  .nav {
    &__main {
      &__text {
        display: flex;
        align-items: center;
        position: relative;
        width: 100%;
        height: 40px;
        @include font(18px, #333, 700);
        cursor: pointer;
        border-radius: 8px;
        padding: 0 8px;
        background: transparent;
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          width: 0;
          background: $main-color;
          transition: width 0.3s;
          z-index: 0;
        }
        .material-symbols-outlined {
          font-size: 24px;
          margin-right: 8px;
        }
        span {
          z-index: 1;
        }
      }
      &--active {
        .nav__main__text {
          color: #fff;
          font-weight: 800;
          &::before {
            width: 100%; // 배경색을 전체 너비로 확장
          }
        }
      }
    }
    &__sub {
      padding-left: 40px;
      > li {
        position: relative;
        height: 30px;
        line-height: 30px;
        cursor: pointer;
      }
      &--active {
        font-weight: 700;
        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: -15px;
          transform: translateY(-50%);
          width: 5px;
          height: 80%;
          background: $main-color;
        }
      }
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
  width: 100%;
  height: 60px;
  background: $main-color;
  padding: 0 1.25rem;
  color: #fff;
  &__left {
    .icon__menu {
      display: none;
    }
  }
  &__right {
    display: flex;
    column-gap: 10px;
    .icon-box {
      display: flex;
      align-items: center;
      column-gap: 8px;
      .icon {
        @include flex(center, center);
        width: 40px;
        height: 40px;
        font-size: 25px;
        cursor: pointer;
        border-radius: 50%;
        &:hover {
          background-color: #e3e3e3;
          font-weight: bold;
          color: #333;
        }
      }
    }
    .date-box {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      font-size: 14px;
    }
    .user-box {
      display: flex;
      align-items: center;
      column-gap: 8px;
      .user {
        &__pic {
          flex-shrink: 0;
          width: 50px;
          height: 50px;
          background: lightblue;
          border-radius: 100%;
          cursor: pointer;
        }
        &__name {
          font-weight: 700;
          cursor: pointer;
          word-break: break-all;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
.content-wrap {
  width: 100%;
  height: 100%;
  max-height: calc(100% - 75px);
  padding: 0 1rem 1rem;
  a {
    border-bottom: 1px solid #999;
    &:last-child {
      border-bottom: 0;
    }
  }
  .content-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: white;
    padding: 0 1.25rem;
    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      h3 {
        font-size: 30px;
        font-weight: bold;
        height: 60px;
        line-height: 60px;
      }
      button {
        width: 60px;
        background: $main-color;
        border: none;
        height: fit-content;
        padding: 5px 0;
        border-radius: 15px;
        @include font(1rem, #fff, 700);
        cursor: pointer;
      }
    }
    .control-box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-shrink: 0;
      height: 50px;
      padding: 0 1.25rem;
      label {
        width: 52%;
        height: 34px;
        background: lightgray;
        border-radius: 15px;
        overflow: hidden;
        .control-box__search {
          border: none;
          width: 100%;
          height: 100%;
          background-color: transparent;
          padding: 0 10px;
          &:focus {
            background-color: rgb(242, 242, 242);
          }
        }
      }
      &__btn-wrap {
        display: flex;
        column-gap: 4px;
        button {
          width: 50px;
          border: none;
          padding: 8px 0px;
          border-radius: 15px;
          overflow: hidden;
          cursor: pointer;
          &.btn {
            &__upload {
              width: 60px;
              background: $main-color;
              color: white;
              font-weight: 700;
            }
          }
        }
      }
    }
    .employee-list {
      a {
        display: grid;
        align-items: center;
        grid-template-columns: 5% 10% 10% 20% 15% 10% 10% 20%;
        height: 100px;
        border-bottom: 1px solid #e3e3e3;
        > div {
          text-overflow: ellipsis;
          overflow: hidden;
          word-break: keep-all;
        }
        .picture {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          &__box {
            flex-shrink: 0;
            width: 90px;
            height: 90px;
            border-radius: 100%;
            overflow: hidden;
            background: lightslategray no-repeat center/cover;
          }
          img {
            max-width: 100%;
            object-fit: cover;
          }
        }
      }
      &__container {
        overflow: scroll;
        flex-grow: 1;
        text-align: center;
      }
      &__header {
        display: grid;
        align-items: center;
        grid-template-columns: 5% 10% 10% 20% 15% 10% 10% 20%;
        position: sticky;
        top: 0;
        left: 0;
        height: 50px;
        background-color: rgb(203, 225, 255);
        @include font(1rem, #333, 700);
      }
      &__wrap {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
