@import "./_mixin.scss";

* {
  box-sizing: border-box;
}

#upload,
#edit {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  .upload,
  .edit {
    &__list {
      width: 100%;
      &--photo {
        width: 30%;
        max-width: 350px;
      }
    }
    &__top {
      @include flex(center, center);
      width: 100%;
      label {
        @include flex(center, center, column);
        cursor: pointer;
        .photo-preview {
          width: 100%;
          aspect-ratio: 1/1;
          margin-bottom: 0.5rem;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          background-color: lightgray;
        }
        .input__photo {
          width: 0;
          height: 0;
          &--design {
            display: flex;
            column-gap: 0.5rem;
            width: 100%;
            height: 1.5rem;

            .photo {
              &__name,
              &__btn {
                text-align: center;
                line-height: 1.5rem;
                @include font(0.9rem, #333, 400);
              }
              &__name {
                flex: 1;
                border: 1px solid #e3e3e3;
                overflow: hidden;
              }
              &__btn {
                width: 30%;
                background: $main-color;
                color: #fff;
              }
            }
          }
        }
      }
    }
    &__mid {
      display: flex;
      flex-direction: column;
      row-gap: 0.25rem;
      .upload__list,
      .edit__list {
        display: flex;
        div {
          width: 10%;
          height: 2rem;
          line-height: 2rem;
          padding: 0 10px;
          background: $main-color;
          @include font(1rem, #fff, 700);
          margin-right: 0.25rem;
        }
        label {
          flex: 1;
          background: lightgray;
          input {
            width: 100%;
            height: 100%;
            padding: 0 10px;
            border: none;
            background: transparent;
            &:focus {
              background: rgb(235, 235, 235);
            }
          }
        }
      }
    }
    &__bot {
      height: 100%;
      padding-bottom: 1rem;
      .upload__list,
      .edit__list {
        display: flex;
        flex-direction: column;
        height: 100%;
      }
      div {
        @include font(1.25rem, #333, 700);
        margin-bottom: 0.5rem;
      }
      label {
        flex: 1;
        textarea {
          width: 100%;
          height: 100%;
          padding: 10px;
          resize: none;
          outline: none;
        }
      }
    }
  }
}
