@import "./_mixin.scss";

*{box-sizing: border-box;}

body{
  display: flex;
  font-family: 'Nanum Gothic', sans-serif;
  @include font(16px, #333, 400);
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background:rgb(190, 217, 250);
}
input{
  border:none;
  outline: none;
  &::-ms-clear,
  &::-ms-reveal{
    display:none;width:0;height:0;
  }
  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration{
    display:none;
  }
}

aside{
  width: 15%;
  height: 100%;
  background-color: white;
  padding: 1%;
  border-radius: 0 20px 20px 0;
  .logo{
    width: 100%; aspect-ratio: 1/0.3;
    background: orangered;
    cursor: pointer;
    margin-bottom: 20%;
  }
  .nav__main{
    
  }
}
.container{
  @include flex($fd:column);
  width: 100%; height: 100%;
  padding:0 30px 20px;
  .header{
    @include flex($ai:center);
    width: 100%; height: 10%;
    &__left{
      width: 100%;
      .main-search-bar{
        position: relative;
        display: flex; align-items: center;
        width: 30%; height: 50px;
        border-radius: 50px;
        background-color: white;
        padding: 0 20px 0 50px;
        overflow: hidden;
        &::after{
          content:"";
          position: absolute; top: 0; left: 0;
          width: 50px; height: 100%;
          background: pink;
        }
        input[type=search]{
          width: 100%; height: 100%;
        }
        .search-clear{
          @include flex(center,center);
          width: 20px; height: 20px;
          background: #bbbbbb;
          border-radius: 50%;
          padding: 0;
          cursor: pointer;
        }
      }
    }
    &__right{
      @include flex(flex-end, center);
      flex: none;
      height: 100%;
      .user{
        &-pic{
          width: 50px; height: 50px;
          background: orangered;
          border-radius: 50%;
          cursor: pointer;
          margin-right: 10px
        }
        &-name{
          @include font(1em, #333, 800);
        }
      }
    }
  }
  .content-wrap{
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 10px;
    h3{
      @include font(1.5em, #333, 800);
      padding: 20px;
    }
    .controll-wrap{
      display: flex;
      padding: 0 20px;
      margin-bottom: 20px;
      .employee-list__search{
        display: flex;
        width: 20%;
        background: whitesmoke;
        height: 40px;
        overflow: hidden;
        border-radius: 20px;
        input[type=search]{
          background: whitesmoke;
          width: 100%; height: 100%;
        }
      }
      .button-box{
        margin-left: auto;
        height: 100%;
      }
    }
    .employee-list{
      text-align: center;
      &__header{
        display: grid; align-items: center;
        grid-template-columns: 10% 10% 5% 20% 15% 15% 25%;
        height: 50px;
        border-top: 1px solid #e3e3e3;
        border-bottom: 1px solid #e3e3e3;
      }
      &__content{
        .list{
          display: grid; align-items: center;
          grid-template-columns: 10% 10% 5% 20% 15% 15% 25%;
          height: 100px;
          border-bottom: 1px solid #999;
          .img{
            height: 100%;
          }
        }
      }
    }
  }
}

@media (max-width: 1023px){

}
@media (max-width: 767px){

}