@import "reset.css";

body {
  background-image: url("../assets/graphics/addVillager-backgroundImg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.header-logo {
  width: 20rem;
  height: 8rem;
  margin-top: 2rem;
}

.profile-wrap {
  width: 67%;
  height: 44rem;
  background-color: rgba(252, 241, 224, 0.8);
  margin: 0 auto;
  border-radius: 3rem;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.header-text {
  color: #3f5d4d;
  margin-top: 3rem;
}

.profile-main {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  width: 80%;
}

.profile-left {
  display: flex;
  flex-direction: column;
  padding: 3rem 3rem 2rem 3rem;
  text-align: center;
}

.villager-img {
  width: 18rem;
  cursor: pointer;
  margin-bottom: 1rem;
}

.villager-img:hover {
  opacity: 0.8;
  transition: 0.4s;
}

.chooseImg {
  display: none;
}

.chooseImg-text {
  font-size: 0.8rem;
  font-weight: 700;
}

.profile-right {
  padding: 3rem;
  width: 100%;
}

.profile-ul {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.villager-info,
.villager-info-input {
  display: flex;
  flex-direction: column;
  align-items: first baseline;
}

.villager-info-li {
  margin: 1rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 800;
  margin-right: 2rem;
}

.villager-info-input-li {
  margin: 0.6rem;
}

.villager-info-name,
.villager-info-engName,
.villager-info-birthday,
.villager-info-sex,
.villager-info-personality,
.villager-info-favoriteColor,
.villager-info-speechHabit {
  height: 1.8rem;
  border: none;
  border-bottom: solid 1px #547a66;
  background-color: #00ff0000;
  font-size: 1rem;
}

.villager-info-name:focus,
.villager-info-engName:focus,
.villager-info-birthday:focus,
.villager-info-sex:focus,
.villager-info-personality:focus,
.villager-info-favoriteColor:focus,
.villager-info-speechHabit:focus {
  outline: none;
  border-bottom: solid 3.5px #547a66;
  transition: 0.3s;
}

.add-btn {
  width: 10rem;
  height: 4rem;
  border-radius: 1rem;
  border-style: none;
  font-size: 1.5rem;
  background-color: #71b38f;
  color: #3f5d4d;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 2rem;
  position: fixed;
  bottom: 2rem;
  z-index: 999;
}

.add-btn:hover {
  background-color: #547a66;
  color: #71b38f;
  transition: 0.4s;
}
