@import "reset.css";

body {
  background-image: url("../assets/graphics/addVillager-backgroundImg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.header-logo {
  width: 100%;
  max-width: 20rem;
  height: auto;
  margin-top: 2rem;
}

.profile-wrap {
  width: 70%;
  height: 44rem;
  background-color: rgba(252, 241, 224, 0.8);
  margin: 1rem auto;
  border-radius: 3rem;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.header-text {
  color: #3f5d4d;
  margin-top: 3rem;
}

.profile-main {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  width: 80%;
  padding: 1rem 0;
  align-items: flex-start;
}

.profile-left {
  display: flex;
  flex-direction: column;
  padding: 2rem 3rem;
  text-align: center;
  align-items: center;
}

.villager-img {
  width: 18rem;
  max-height: 25rem;
  cursor: pointer;
}

.villager-img:hover {
  opacity: 0.8;
  transition: 0.4s;
}

.chooseImg {
  display: none;
}

.profile-right {
  padding: 0 2rem 2rem 2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile-ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 2rem;
}

.villager-info,
.villager-info-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin: 1rem;
}

.villager-info-li {
  margin: 1rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 800;
  margin-right: 2rem;
}

.villager-info-input-li {
  margin: 0.6rem;
  width: 100%;
}

.villager-info-name,
.villager-info-engName,
.villager-info-birthday,
.villager-info-sex,
.villager-info-personality,
.villager-info-favoriteColor,
.villager-info-speechHabit {
  width: 100%;
  height: 1.8rem;
  border: none;
  border-bottom: solid 1px #547a66;
  background-color: #00ff0000;
  font-size: 1rem;
}

.villager-info-name:focus,
.villager-info-engName:focus,
.villager-info-birthday:focus,
.villager-info-sex:focus,
.villager-info-personality:focus,
.villager-info-favoriteColor:focus,
.villager-info-speechHabit:focus {
  outline: none;
  border-bottom: solid 3.5px #547a66;
  transition: 0.3s;
}

.add-btn {
  width: 100%;
  max-width: 10rem;
  height: 4rem;
  border-radius: 1rem;
  border-style: none;
  font-size: 1.5rem;
  background-color: #71b38f;
  color: #3f5d4d;
  font-weight: 600;
  cursor: pointer;
  margin: 1rem auto 2rem auto;
}

.add-btn:hover {
  background-color: #547a66;
  color: #71b38f;
  transition: 0.4s;
}

@media (max-width: 768px) {
  .profile-wrap {
    width: 90%;
    height: auto;
  }

  .profile-main {
    flex-direction: column;
    align-items: center;
  }

  .profile-left,
  .profile-right {
    padding: 1rem;
  }

  .villager-img {
    width: 14rem;
  }

  .add-btn {
    max-width: 8rem;
    bottom: 1rem;
  }
}
