
  .profile-edit-button {
    text-align: center;
    margin-top:30px;
  }

  /* 수정버튼 */
  .button__edit--profile {
	/* background-color: #03A9F4; */
    background-color: #1E3269;
    /* margin-bottom: 60px; */
    margin-left: auto;
    margin-right:10px;
  }

  /* 삭제버튼 */
  .button__delete--profile {
    /* margin-top: 60px; */
    background-color: #B90000;
    /* margin-bottom: 60px; */
    /* margin-left: 10px; */
    text-align: center;
  }

  /* 프로필 이미지 */
  img {
    width: 90px;
    height: 90px;
}

/* .filebox img {
  width: 50%;
  height: 50%;
  object-fit: cover;
} */

/* 테이블  */
table {
	border: 1px solid #ccc;
	border-collapse: collapse;
	margin: 0;
	padding-right: 0;
	width: 100%;
	table-layout: fixed;
  /* margin:200px;
  margin-right:500px; */
  }
  
  table caption {
	font-size: 1.5em;
	margin: .5em 0 .75em;
  }
  
  table tr {
	background-color: #f8f8f8;
	border: 1px solid #ddd;
	padding: .35em;
  }
  
  table th,
  table td {
	padding: .625em;
	text-align: center;
  }
  
  table th {
	font-size: .85em;
	letter-spacing: .1em;
	text-transform: uppercase;
  }
  
  @media screen and (max-width: 600px) {
	table {
	  border: 0;
	}
  
	table caption {
	  font-size: 1.3em;
	}
	
	table thead {
	  border: none;
	  clip: rect(0 0 0 0);
	  height: 1px;
	  margin: -1px;
	  overflow: hidden;
	  padding: 0;
	  position: absolute;
	  width: 1px;
	}
	
	table tr {
	  border-bottom: 3px solid #ddd;
	  display: block;
	  margin-bottom: .625em;
	}
    
	table td {
	  border-bottom: 1px solid #ddd;
	  display: block;
	  font-size: .8em;
	  text-align: right;
	}
	
	table td::before {
	  /*
	  * aria-label has no advantage, it won't be read inside a table
	  content: attr(aria-label);
	  */
	  content: attr(data-label);
	  float: left;
	  font-weight: bold;
	  text-transform: uppercase;
	}
	
	table td:last-child {
	  border-bottom: 0;
	}

  .profile-edit-button {
    flex-direction: column;
    align-items: center;
  }

  .button__edit--profile,
  .button__delete--profile,
  .button--state-cancel {
    width: 100%;
    margin-bottom: 10px;
  }

}