.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 1rem;
	background: #f5f5f5;
}

.header h1 {
	font-size: 1.5rem;
	font-weight: 400;
    margin-left: 30px;
    margin-top: 30px;
}

.header h4 {
    margin-top: 10px;
	font-size: 1rem;
}

body {
	color: #566787;
	background: #f5f5f5;
	font-family: 'Varela Round', sans-serif;
}

a {
	text-decoration: none;
}