* {
  background-color: #fff9f2;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media (min-width: 769px) {
  .main-image {
    cursor: pointer;
    border-radius: 8px;
    margin: 10px 0 10px 0;
  }

  .main-container {
    position: absolute;
    top: 30%;
    left: 50%;
    width: 100%;
    margin: 10% 0%;
    transform: translate(-50%, -50%);
    animation: slide 2s ease-out;
    text-align: center;
    align-items: center;
  }

  @keyframes slide {
    from {
      left: -100px;
      opacity: 0;
    }
    to {
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 1;
    }
  }
}

@media (max-width: 768px) {
  .main-image {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .main-container {
    top: 10%;
    width: 90%;
    margin: 5% 0%;
    left: 50%;
    transform: translate(-50%, 0);
  }

  @keyframes slide {
    from {
      left: -50px;
      opacity: 0;
    }
    to {
      left: 50%;
      transform: translate(-50%, 0);
    }
  }
}
