* {
  background-color: #fff9f2;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media (min-width: 391px) {
  .main-image {
    cursor: pointer;
    border-radius: 8px;
    margin: 10px 0 10px 0;
  }

  .main-container {
    position: absolute;
    top: 30%;
    left: 50%;
    width: 100%;
    margin: 10% 0%;
    transform: translate(-50%, -50%);
    animation: slide 2s ease-out;
    text-align: center;
    align-items: center;
  }

  @keyframes slide {
    from {
      left: -100px;
      opacity: 0;
    }
    to {
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 1;
    }
  }
}

@media (max-width: 390px) {
  .main-container {
    position: absolute;
    top: 10%;
    left: 60%;
    width: 80%;
    margin-left: 5%;
    transform: translate(-50%, 0);
    animation: slide 2s ease-out;
    text-align: center;
    align-items: center;
  }
  .main-image {
    cursor: pointer;
    border-radius: 8px;
    width: 100%;
  }

  @keyframes slide {
    from {
      left: 30%;
      transform: translate(0, 0);
      opacity: 0;
    }
    to {
      left: 50%;
      transform: translate(-50%, 0);
      opacity: 1;
    }
  }
}
