@import "reset.css";

body {
  background-image: url("../assets/graphics/profileBackgroundImage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.header-logo {
  width: 20rem;
  height: 8rem;
  margin-top: 2rem;
}

.profile-wrap {
  width: 70%;
  height: 45rem;
  background-color: rgba(252, 241, 224, 0.8);
  margin: 0 auto;
  margin-top: 1rem;
  border-radius: 3rem;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.header-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8rem;
}

.profile-main {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  width: 80%;
  align-items: flex-start;
  justify-content: space-between;
}

.profile-left {
  margin: 0 3rem 1rem 3rem;
}

.villager-img {
  width: 15rem;
}

.profile-right {
  margin: 0 5rem 2rem 5rem;
}

.profile-info-h2 {
  font-size: 1.8rem;
  color: #3f5d4d;
}

.profile-info-hr {
  border: solid 0.15rem #3f5d4d;
  margin: 2rem 0;
  width: 25rem;
}

.profile-info-ul {
  display: flex;
  padding: 0;
  margin: 0;
}

.profile-info,
.villager-info {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: first baseline;
}

.profile-info {
  margin-right: 5rem;
}

.villager-info-name,
.villager-info-engName,
.villager-info-birthday,
.villager-info-sex,
.villager-info-personality,
.villager-info-favoriteColor,
.villager-info-speechHabit {
  margin: 0.85rem 0;
  font-size: 1.2rem;
}

.profile-info-li {
  font-weight: bold;
  font-size: 1.3rem;
  margin: 0.8rem;
}

.edit-btn {
  width: 10rem;
  height: 4rem;
  border-radius: 1rem;
  border-style: none;
  font-size: 1.5rem;
  background-color: #71b38f;
  color: #3f5d4d;
  font-weight: 600;
  cursor: pointer;
  position: fixed;
  bottom: 4rem;
  z-index: 999;
}

.edit-btn:hover {
  background-color: #547a66;
  color: #71b38f;
  transition: 0.4s;
}
