#header{
    height: 2.38em;
    padding: 0.88em 2.50em 0.88em 2.50em;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: #0F59C9;
}

#logo{
    font-weight: 700;
    font-size: 1.13em;
    color: #fff;

}

#logo > a{
    color: #fff;
    text-decoration: none;
}

#profile{
    display: flex;
    align-items: center;
    color: #fff;
}

#profileImg{
    background-image: url(../assets/person3.png);
    border-radius: 8em;
    height: 1.88em;
    width: 1.88em;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 0em 0 0.94em;
}


#main{
    padding: 1.3em 2.5em 1.3em 2.5em;
}

#profileTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #D3D3D3;
    padding-bottom: 1em;
    flex-wrap: wrap;
}

h3 {
    font-size: 1.5em;
    font-weight: 400;
    margin: 0;
    padding: 0.66em 0 0.66em 0;
}

#profileAction{
    display: flex;
    align-items: center;
}

#profileEdit, #profileDel{
    width: 3em;
    height: 1.88em;
    border: 0.06em solid #D3D3D3;
    border-radius: 0.25em;
    background-color: #fff;
    color: #222
}

#profileDel{
    margin-left: 0.31em;
}

#profileWrap{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#mainprofileImg{
    margin-top: 1.56em;
    border-radius: 1.06em;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: block;
}

#profileInfo{
    width: 49%;
    min-width: 18.5em;
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.56em;
}


#info_top, .info_normal, #info_bottom{
    width: 100%;
    padding: 1em 2em 1em 2em;
    background-color: #fff;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 0.08em solid #e9e9e9;
}


#info_top{
    border-radius: 1.06em 1.06em 0em 0em;
}


#info_bottom{
    border-radius:0 0 1.06em 1.06em;
}


.info_title{
    color: #4a4a4a;
    font-size: 1.1em;
    font-weight: 300;
    width: 10em;
}

.info_name_data, .info_birth_data, .info_email_data, .info_phone_data, .info_join_data, .info_update_data{
    width: 65%;
    color: #4a4a4a;
    font-size: 1em;
    font-weight: 400;
    left: 15em;
    
}

.info_birth_data{
    color: #4a4a4a;
    font-size:1em;
    font-weight: 500;
    margin: 2.2em 7.44em 2.2em 1.94em;
    position: absolute;
    left: 15em;
}

#infoWrap{
    margin-top: 1.56em;
    width: 49%;
}

#profileEdit > a {
    color: #222;
}