@import "reset.css";

body {
  background-image: url("../assets/graphics/backgroundImage.jpg");
}

.header-logo {
  width: 25rem;
  height: 9.5rem;
  padding-top: 2rem;
}

.main {
  width: 90%;
  background-color: #fcf1e0;
  border-radius: 3rem;
  height: 90rem;
  display: inline-block;
  height: auto;
  margin: 3rem 5rem 4rem 5rem;
}

.main-wrap {
  padding: 4rem;
}

.main-top {
  width: 17.2rem;
}

.main-top-text {
  margin-bottom: 2.5rem;
  color: #456252;
  font-size: 3rem;
}

.add-button {
  width: 100%;
  height: 4rem;
  border-radius: 1rem;
  border-style: none;
  font-size: 1.3rem;
  background-color: #71b38f;
  color: #3f5d4d;
  font-weight: 600;
  cursor: pointer;
}

.add-button:hover,
.delete-button:hover {
  background-color: #547a66;
  color: #71b38f;
  transition: 0.4s;
}

.main-middle {
  margin-top: 3.5rem;
}

.main-middle-header {
  margin-bottom: 3rem;
}

.main-middle-hr {
  border: solid 0.15rem #3f5d4d;
}

.villagers-info {
  margin: 0 auto;
}

.main-middle-header .villagers-info-ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  margin: 1rem 0;
}

.villagers-info-li {
  float: left;
  font-size: 1.3rem;
  font-weight: 600;
}

.villagers-list {
  width: 100%;
  margin: 0 auto;
}

.villager {
  width: 100%;
  height: 20%;
  margin: 0 auto;
  border-radius: 3rem;
  border-style: none;
  background-color: #fdf6e8;
  cursor: pointer;
  color: #71b38f;
}

.villager:hover {
  transition: 0.4s;
  background-color: #ebedae;
}

.delete-villager {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: flex-end;
}

.villager .villager-img {
  width: 8rem;
}

.villager .villager-info-ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 3rem 0 0 0;
}

.villager-info-li {
  float: left;
  font-size: 1.4rem;
  font-weight: 600;
  margin-top: 3rem;
}

.delete-button {
  width: 7rem;
  height: 3rem;
  border-radius: 1rem;
  border-style: none;
  font-size: 1rem;
  background-color: #71b38f;
  color: #3f5d4d;
  font-weight: 600;
  cursor: pointer;
  margin-right: 4.5rem;
  margin-bottom: 2rem;
}
