/*!***************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/scss/styles.scss ***!
  \***************************************************************************************************************/
@charset "UTF-8";
body {
  width: 100%;
  height: 100vh;
  background-color: #001651;
  color: rgba(252, 252, 252, 0.8);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body::-webkit-scrollbar {
  display: none;
}

span,
p,
h1 {
  color: white;
}

input {
  border: none;
  box-sizing: border-box;
  color: rgba(252, 252, 252, 0.8);
  background: transparent;
}
input:not([type=submit]) {
  border-bottom: 2px solid rgba(252, 252, 252, 0.8);
}
input[type=submit] {
  border-radius: 5px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  background-color: rgba(252, 252, 252, 0.8);
}
input::placeholder {
  color: rgba(150, 150, 150, 0.8);
}
input:focus {
  outline: none;
}

button {
  all: unset;
}

#title {
  width: 100%;
  height: 11rem;
  padding: 2rem 0 0;
  font-size: 2.2rem;
  font-weight: 700;
  text-align: center;
  line-height: 15rem;
}
@media (min-width: 450px) and (max-width: 850px) {
  #title {
    height: 8rem;
    padding: 8rem 0 0;
    font-size: 3rem;
  }
}
@media (max-width: 450px) {
  #title {
    height: 10rem;
    padding: 20rem 0 0;
    font-size: 3.5rem;
  }
}

input[type=file] {
  border: none;
  padding-bottom: 0;
}
input[type=file]::file-selector-button {
  width: 150px;
  height: 30px;
  margin-top: 10px;
  margin-right: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgba(252, 252, 252, 0.8);
}
input[type=file]::file-selector-button:hover {
  border: none;
  background-color: rgba(150, 150, 150, 0.8);
  color: rgba(252, 252, 252, 0.8);
}

#back {
  width: 80vw;
  height: 10vh;
  margin: 0 auto;
  font-size: 17px;
  line-height: 10vh;
  text-align: end;
  color: rgba(150, 150, 150, 0.8);
}
#back button {
  width: 90px;
  height: 30px;
  text-align: center;
  cursor: pointer;
}

#load {
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #001651;
}

#load-title {
  font-size: 3rem;
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out forwards;
}
@media (min-width: 450px) and (max-width: 850px) {
  #load-title {
    font-size: 3.5rem;
  }
}
@media (max-width: 450px) {
  #load-title {
    font-size: 4rem;
  }
}

#adminLoginForm {
  width: 60vw;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
#adminLoginForm input {
  margin-bottom: 40px;
  padding-bottom: 20px;
  font-size: 1.3rem;
  text-align: center;
  transition: border-color 0.3s ease-in-out;
}
#adminLoginForm input[placeholder="관리자 아이디"] {
  margin-top: 100px;
}
#adminLoginForm input:not([type=submit]) {
  transition: border-color 0.3s ease-in-out;
}
#adminLoginForm input[type=submit] {
  padding: 20px 0px;
}
@media (min-width: 450px) and (max-width: 850px) {
  #adminLoginForm input {
    font-size: 2rem;
  }
}
@media (max-width: 450px) {
  #adminLoginForm input {
    font-size: 3rem;
  }
}
#adminLoginForm p {
  text-align: center;
  color: rgb(216, 123, 41);
}

#moreFunc {
  width: 90vw;
  height: 10vh;
  margin: 0 auto 3rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
#moreFunc #deleteDriver {
  width: 10rem;
  height: 3.5rem;
  border-radius: 10px;
  text-align: center;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.8);
  background-color: rgba(252, 252, 252, 0.5);
  cursor: pointer;
}
@media (max-width: 450px) {
  #moreFunc #deleteDriver {
    height: 6rem;
  }
}
#moreFunc #searchDriver {
  width: 20rem;
  height: 40px;
  padding-bottom: 0.5rem;
  font-size: 1.2rem;
  text-align: center;
}
#moreFunc #addDriverAnc {
  width: 10rem;
  height: 3.5rem;
  border-radius: 10px;
  text-align: center;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.8);
  background-color: rgba(252, 252, 252, 0.5);
  cursor: pointer;
  line-height: 3.5rem;
}
@media (max-width: 450px) {
  #moreFunc #addDriverAnc {
    height: 6rem;
  }
}
@media (max-width: 450px) {
  #moreFunc #addDriverAnc {
    line-height: 6rem;
  }
}

#sortList {
  width: 90vw;
  height: auto;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
}
#sortList #driversListHeaders {
  border: 1px solid;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
}
#sortList #driversListHeaders .driversListHeader {
  width: 12rem;
  height: 50px;
  line-height: 50px;
  text-align: start;
  color: rgba(0, 0, 0, 0.8);
  background-color: rgba(252, 252, 252, 0.8);
}
#sortList #driversListHeaders .checkBoxHeader {
  width: 6rem;
}
#sortList #driversListHeaders .largeHeader {
  width: 15rem;
}
#sortList #drivers {
  margin-bottom: 50px;
}
#sortList #drivers .driver {
  height: 9rem;
  border-bottom: 1px solid;
  display: flex;
  align-items: center;
  transition: 0.3s;
}
#sortList #drivers .driver .driverImg {
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 50%;
}
#sortList #drivers .driver .driverData {
  width: 12rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#sortList #drivers .driver .driverData .confirmAnc {
  text-decoration: none;
  font-weight: 700;
  color: rgba(150, 150, 150, 0.8);
  cursor: pointer;
}
#sortList #drivers .driver .driverData .driverProfileAnc {
  text-decoration: none;
  font-weight: 700;
  color: rgba(150, 150, 150, 0.8);
  cursor: pointer;
}
#sortList #drivers .driver .checkData {
  width: 6rem;
  display: flex;
  justify-content: flex-end;
}
#sortList #drivers .driver .checkData input {
  width: 22px;
  height: 22px;
  appearance: none;
  margin-right: 1rem;
  border: 1px solid rgba(252, 252, 252, 0.8);
  border-radius: 15%;
  cursor: pointer;
  transition: 0.2s;
}
#sortList #drivers .driver .checkData input:checked {
  background: rgba(150, 150, 150, 0.8);
}
@media (min-width: 450px) and (max-width: 850px) {
  #sortList #drivers .driver .checkData input {
    width: 17px;
    height: 17px;
  }
}
@media (max-width: 450px) {
  #sortList #drivers .driver .checkData input {
    width: 12px;
    height: 12px;
  }
}
#sortList #drivers .driver .largeWidthData {
  width: 15rem;
}

#addDriver {
  width: 50rem;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 15px;
  color: rgba(252, 252, 252, 0.8);
}
#addDriver h2 {
  margin: 5rem 0;
  font-size: 2.5rem;
  font-weight: 700;
}
#addDriver label {
  display: flex;
  flex-direction: column;
}
#addDriver label:first-child {
  margin-top: 25px;
}
#addDriver input {
  margin-bottom: 30px;
  padding-bottom: 10px;
  transition: border-color 0.3s ease-in-out;
}
#addDriver input:not([type=submit]) {
  transition: border-color 0.3s ease-in-out;
}
#addDriver input[type=submit] {
  padding: 20px 0px;
}
#addDriver #insuranceProduct {
  width: 150px;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 40px;
  padding: 0 10px;
  border-radius: 10px;
}

#confirm {
  width: 80vw;
  height: 80vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#confirm #accidentProfile {
  display: flex;
  flex-direction: column;
}
#confirm #accidentProfile #accidentDriver {
  margin: 20px 0 10px;
  display: flex;
  align-items: center;
}
#confirm #accidentProfile #accidentDriver #driverImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: 0.5s;
}
@media (min-width: 450px) and (max-width: 850px) {
  #confirm #accidentProfile #accidentDriver #driverImg {
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 450px) {
  #confirm #accidentProfile #accidentDriver #driverImg {
    width: 35px;
    height: 35px;
  }
}
#confirm #accidentProfile #accidentDriver #driverName {
  margin-left: 1rem;
  font-size: 18px;
  line-height: 50px;
  transition: 0.5s;
}
@media (min-width: 450px) and (max-width: 850px) {
  #confirm #accidentProfile #accidentDriver #driverName {
    font-size: 15px;
    line-height: 40px;
  }
}
@media (max-width: 450px) {
  #confirm #accidentProfile #accidentDriver #driverName {
    font-size: 14px;
    line-height: 8rem;
  }
}
#confirm #accidentProfile #accidentInfo {
  margin: 10px 0 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#confirm #accidentProfile #accidentInfo #accidentImg {
  width: 500px;
  height: 350px;
  border-radius: 10px;
  transition: 0.5s;
}
@media (min-width: 450px) and (max-width: 850px) {
  #confirm #accidentProfile #accidentInfo #accidentImg {
    width: 320px;
    height: 200px;
  }
}
@media (max-width: 450px) {
  #confirm #accidentProfile #accidentInfo #accidentImg {
    width: 280px;
    height: 200px;
  }
}
#confirm #accidentProfile #accidentInfo #accidentDate {
  margin-top: 20px;
  font-size: 16px;
  transition: 0.5s;
}
@media (max-width: 450px) {
  #confirm #accidentProfile #accidentInfo #accidentDate {
    font-size: 13px;
  }
}
#confirm .confirmBtn {
  width: 500px;
  height: 80px;
  border: 1px solid rgba(252, 252, 252, 0.8);
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  line-height: 20px;
  color: rgba(252, 252, 252, 0.8);
  background-color: transparent;
  transition: 0.5s;
}
#confirm .confirmBtn:hover, #confirm .confirmBtn:focus {
  border: 1px solid rgba(0, 0, 0, 0.8);
  color: rgba(0, 0, 0, 0.8);
  background-color: rgba(252, 252, 252, 0.8);
}
@media (min-width: 450px) and (max-width: 850px) {
  #confirm .confirmBtn {
    width: 320px;
    height: 64px;
    font-size: 17px;
  }
}
@media (max-width: 450px) {
  #confirm .confirmBtn {
    width: 280px;
    height: 56px;
    font-size: 14px;
  }
}
#confirm #confirmNote {
  margin-top: 15px;
  color: rgb(216, 123, 41);
  font-size: 15px;
}

#driverProfile {
  width: 80vw;
  height: 80vh;
  margin: 0 auto;
  border: 1px solid rgba(252, 252, 252, 0.8);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#driverProfile #setBasicImgBtn {
  border-bottom: 0.5px solid rgba(252, 252, 252, 0.8);
  color: rgba(150, 150, 150, 0.8);
}
#driverProfile #newDriverImgInput {
  width: 150px;
  position: fixed;
  top: 240px;
}
#driverProfile #newDriverImgInput::file-selector-button {
  color: rgba(252, 252, 252, 0.8);
  background-color: rgba(15, 58, 158, 0.8);
}
#driverProfile #driverImg {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-top: 10px;
  transition: 0.5s;
}
@media (min-width: 450px) and (max-width: 850px) {
  #driverProfile #driverImg {
    width: 150px;
    height: 150px;
  }
}
@media (max-width: 450px) {
  #driverProfile #driverImg {
    width: 120px;
    height: 120px;
  }
}
#driverProfile #driverName {
  margin-top: 30px;
}
#driverProfile #driverName input {
  border: none;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  transition: 0.5s;
}
@media (min-width: 450px) and (max-width: 850px) {
  #driverProfile #driverName input {
    font-size: 25px;
  }
}
@media (max-width: 450px) {
  #driverProfile #driverName input {
    font-size: 20px;
  }
}
#driverProfile #driverBirth {
  margin-top: 5px;
  font-size: 18px;
  text-align: center;
  color: rgba(150, 150, 150, 0.8);
}
#driverProfile #driverInsurance {
  margin: 40px;
  display: flex;
}
#driverProfile #driverInsurance .InsuranceText {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#driverProfile #driverInsurance .InsuranceText p:first-of-type {
  width: 10rem;
  height: 60px;
  margin: 0 1.5rem;
  border-radius: 5px;
  text-align: center;
  line-height: 60px;
  color: rgba(0, 0, 0, 0.8);
  background-color: rgba(252, 252, 252, 0.8);
  font-size: 1.5rem;
  font-weight: 700;
}
#driverProfile #driverInsurance .InsuranceText p:last-of-type {
  margin-top: 15px;
  font-size: 1rem;
}
#driverProfile #editDriverBtn {
  margin: 25px 2rem 0px;
  border-bottom: 1px solid rgba(252, 252, 252, 0.8);
  cursor: pointer;
  font-size: 1rem;
  color: rgba(150, 150, 150, 0.8);
}

#postEditDriverBtn {
  width: 10rem;
  height: 30px;
  margin: 25px 2rem 0px;
  cursor: pointer;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  transition: 0.5s;
}
#postEditDriverBtn:hover {
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  color: rgba(0, 0, 0, 0.8);
  background-color: rgba(252, 252, 252, 0.8);
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  40% {
    transform: translateX(-5rem);
  }
  100% {
    opacity: 0;
    transform: translateX(10rem);
    display: none;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map*/