* {
  background-color: #fff9f2;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* list.html */
.member-list-container {
  padding: 10% 10% 0 10%;
  width: 100%;
  overflow: auto;
}

.member-create-container {
  margin: 10% 15%;
  padding: 0 30% 0 0;
  width: 100%;
  overflow: auto;
}

.member-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.member-search {
  flex: 1;
  margin-right: 100px;
  padding: 5px;
  width: 100%;
  max-width: 400px;
  border-radius: 4px;
  border: 1px solid gray;
}

.member-create,
.member-delete {
  padding: 10px 20px;
  background-color: bisque;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}

.member-create:hover,
.member-delete:hover {
  background-color: #ffd19a;
}

.member-table {
  width: 100%;
}

.member-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  width: 100%;
  justify-content: space-between;
}
.member-list-inner {
  flex: 1;
  margin: 10px 0;
  text-align: center;
}

#list li {
  display: inline-block;
  margin-right: 20px;
}

.member-list-innercheck {
  margin: 10px 0;
  text-align: center;
}

.list-image-size {
  width: 100px;
  height: 100px;
  border-radius: 8px;
  cursor: pointer;
}

.member-create-list {
  margin: 10px;
}

.member-title {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  width: 100%;
  justify-content: space-between;
}
.member-inner-title {
  flex: 1;
  margin: 10px 0;
  text-align: center;
}

.member-innercheck-title {
  margin: 10px 0;
  text-align: center;
}

/* create.html */

.create-button,
.return-button {
  padding: 10px 10px;
  margin-top: 10px;
  background-color: bisque;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.create-button:hover,
.return-button:hover {
  background-color: #ffd19a;
}

.member-name,
.member-birth,
.member-country,
.member-creator {
  padding: 10px 10px;
  margin-top: 10px;
  border: 1px solid;
  border-radius: 4px;
}

.spinner {
  border: 4px solid rgba(245, 245, 245, 0.3);
  border-radius: 50%;
  border-top: 4px solid #000;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.red {
  margin-top: 10px;
  font-size: small;
  color: red;
}

/* about.html */

.character-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.profile-image-size {
  margin-top: 10px;
  width: 200px;
  height: 200px;
  border-radius: 4px;
  cursor: pointer;
}

#charName {
  margin-top: 10px;
  margin-left: 30%;
}

#charBirth,
#charCountry,
#charCreator {
  text-align: right;
}

/* edit.html */

.edit-button {
  padding: 10px 10px;
  margin-top: 10px;
  background-color: bisque;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.edit-button :hover {
  background-color: #ffd19a;
}

@media (max-width: 390px) {
  .member-list-container,
  .member-create-container {
    padding: 5%;
  }

  .member-search {
    flex: 1;
    margin-right: 100px;
    padding: 5px;
    width: 3rem;
    border-radius: 4px;
    border: 1px solid gray;
  }

  .member-create,
  .member-delete {
    padding: 5px 10px;
    background-color: bisque;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
  }

  .member-create:hover,
  .member-delete:hover {
    background-color: #ffd19a;
  }

  #charName,
  #charBirth,
  #charCountry,
  #charCreator {
    text-align: right;
  }
}
