.main {
  min-width: 50rem;
  margin: 5rem auto;
  padding: 3rem;
  background-color: #ffffff;
  border-radius: 1rem;
  box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.1);
}

.profile-header {
  text-align: center;
  margin-bottom: 3rem;
}

.profile-header__title {
  font-size: 3rem;
  margin: 0;
}

.profile-actions__btn {
  padding: 1.5rem 2.5rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

.profile-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.profile-image-main {
  position: relative;
  width: 200px;
  height: 250px;
  overflow: hidden;
  border: 3px solid #e0e0e0;
  margin: 0 auto;
}

.profile-image-input {
  display: none;
}

.profile-image-preview {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-upload-label,
.image-delete-btn {
  font-size: 1.5rem;
}

.profile-info {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.profile-info div {
  flex: 1;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.profile-info label {
  flex: 1;
}

.profile-info input {
  flex: 2;
}
.profile-info select {
  flex: 2;
}
