body {
  font-family: "Ubuntu", sans-serif;
}

h1 {
  font-weight: $font-bold;
}

h2,
h3 {
  font-weight: $font-semi;
}

p {
  font-weight: $font-normal;
}

button {
  font-family: inherit;
}

input {
  font-family: inherit;
}

.pointer {
  cursor: pointer;
}

.input {
  position: relative;
  width: 100%;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
