@use "./variables" as *;
@use "./utils" as *;
/* Rules for sizing the icon. */
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}
.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}
.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}
#drop_zone {
  transition: background-color 0.3s;
}
.drop-zone--enter {
  background-color: #f3f3f3;
}
#img-thumb {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.the-loader {
  --width: 30px;
  width: var(--width);
  height: var(--width);
  margin: var(--width) auto;
  border: 4px solid #2563eb;
  border-top-color: transparent;
  border-radius: 50%;
  animation: loaderAni 1s infinite ease-in-out;
}
.the-loader.hide {
  display: none;
}
@keyframes loaderAni {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#ImageEditorModal .tui-image-editor-container {
  .tui-image-editor-header-logo,
  .tui-image-editor-header-buttons {
    display: none;
  }
}
