/*detail 페이지*/
.detail {
  max-width: 63rem;
  margin: 3.75rem auto 0 auto;

  display: flex;
  justify-content: space-between;
}
.photo-detail {
  width: 23rem;
  height: 25rem;

  background-size: contain;
  background-repeat: no-repeat;
}
.information-container {
  width: 39rem;
  padding-bottom: 0.125rem;
}
.information-title {
  display: flex;
  justify-content: space-between;

  font-size: 2.25rem;
  font-weight: 700;
  color: var(--color-primary);

  border-bottom: 2px solid var(--color-gray);
  padding-bottom: 0.625rem;
}
.navigate-edit {
  background-color: var(--color-primary);
  color: var(--color-white);

  width: 6.25rem;
  height: 2.3125rem;
  padding: 0 0.5rem;

  border-radius: 0.375rem;

  font-size: 0.9rem;
  font-weight: 500;
}
.information {
  margin-top: 1.25rem;
  height: 6.25rem;
  padding-left: 1.25rem;

  display: flex;
  align-items: center;
  gap: 1.875rem;
}
.detail-category {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--color-dark-gray);
}
.detail-value {
  color: var(--color-black);
  font-size: 1.5rem;
  font-weight: 600;
}

@media (max-width: 1280px) {
  .detail {
    max-width: 55rem;
  }
  .photo-detail {
    width: 21rem;
    height: 25rem;
  }
  .information-container {
    margin-left: 2rem;
  }
}
@media (max-width: 768px) {
  .detail {
    max-width: 18.75rem;
    margin: 1rem auto 0 auto;

    flex-direction: column;
  }
  .photo-detail {
    width: 12rem;
    height: 12rem;
  }
  .information-container {
    width: 18rem;
    margin-left: 0;
  }
  .information-title {
    font-size: 1.3rem;
    font-weight: 500;

    padding-top: 1rem;
  }
  .navigate-edit {
    width: 4rem;
    height: 1.5rem;

    font-size: 0.8rem;
  }
  .detail-category {
    font-size: 1rem;
    font-weight: 400;
  }
  .detail-value {
    font-size: 1.1rem;
    font-weight: 600;
  }
} /* 상세 페이지 반응형 */
