* {
    letter-spacing: 1px;
}
a {
    text-decoration: none;
}
html {
    font-family: 'Harry Potter', sans-serif;
    cursor: url(/public/icon/cursor50-brown.png), auto;
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}


/****** Nav ******/
/* nav {
    
} */
nav .menubar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 20vw;
    min-width: 180px;
    height: 100vh;
    background: linear-gradient(to bottom, #000000, #001F3F);
}
nav .menubarTop {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
nav .menubarTop .logo {
    width: 80%;
    cursor: url(/public/icon/cursor50-brown-pointer.png),pointer;
}
nav .menubarMid {
    width: 100%;
    height: 100%;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
}
nav .menubarMid .HpText > a {
    display: block;
    width: 100%;
    color: white;
    font-size: 1.5rem;
    margin: 0;
    padding: 1.5rem 0;
    letter-spacing: 10px;
    text-align: center;
}
.HpText a:hover {
    background: linear-gradient(200deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.3));
    cursor: url(/public/icon/cursor50-brown-pointer.png),pointer;
}
nav .menubarBot {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
}

/******Main******/
main .container{
    width: 80vw;
    height: 100vh;
}
main .container video{
    position: absolute;
    z-index: -1;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
main .historyBox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    padding: 10px;
    background-image: url(/public/image/historyBg.png);
    background-size: contain; 
    background-position: center;
    background-repeat: no-repeat;
}
main .historyBox ul {
    list-style: none;
    padding: 66px;
    text-align: center; 
    width: 30em;
    min-width: 300px;
}
main .historyBox li {
    padding: 10px;
}
main .historyBox p {
    margin-block-start: 8px;
    margin-block-end: 8px;
}
@media (min-width: 751px) and (max-width: 860px) {
    main .historyBox ul {
        padding: 70px;
    }
    main .historyBox li {
        padding: 2px;
        margin: 0;        
    }
    main p{
        margin-block-start: 3px;
        margin-block-end: 3px;
    }
}
@media (max-width: 750px) {
    main .historyBox {
        height: 100%;
        width: 80%;
    }
    main .historyBox ul {
        font-size: 0.6em;
        min-width: 240px;
        margin: 0;
        padding: 35px;
    }
    main .historyBox li {
        padding: 0;
        margin: 0;        
    }
    main p{
        margin-block-start: 3px;
        margin-block-end: 3px;
    }
}



