#adminLoginForm {
  width: 50rem;
  max-width: 500px;

  margin: 0 auto;

  display: flex;
  flex-direction: column;

  input {
    margin-bottom: 30px;
    padding-bottom: 10px;

    font-size: 15px;

    transition: border-color 0.3s ease-in-out;

    &[placeholder="관리자 아이디"] {
      margin-top: 300px;
    }

    &:not([type="submit"]) {
      transition: border-color 0.3s ease-in-out;
    }

    &[type="submit"] {
      padding: 20px 0px;
    }
  }

  p {
    text-align: center;
    color: $alert;
  }
}
