#load {
  height: 100vh;
  width: 100vw;

  // display: none 애니메이션 적용을 위한 속성
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $brandColor;
}

#load-title {
  font-size: 3rem;

  @include tablet {
    font-size: 3.5rem;
  }

  @include mobile {
    font-size: 4rem;
  }

  @include fadeInAni();
}
