#driverProfile {
  width: 80vw;
  height: 80vh;

  margin: 0 auto;
  border: 1px solid $white;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  #setBasicImgBtn {
    border-bottom: 0.5px solid $white;

    color: $gray;
  }

  #driverImgInput {
    width: 150px;

    position: fixed;
    top: 240px;

    &::file-selector-button {
      color: $white;
      background-color: rgba(15, 58, 158, 0.8);
    }
  }

  #driverImg {
    width: 200px;
    height: 200px;

    border-radius: 50%;
    margin-top: 10px;

    transition: 0.5s;

    @include tablet {
      width: 150px;
      height: 150px;
    }

    @include mobile {
      width: 120px;
      height: 120px;
    }
  }
  #driverName {
    margin-top: 30px;

    input {
      border: none;

      font-size: 30px;
      font-weight: 700;
      text-align: center;

      transition: 0.5s;

      @include tablet {
        font-size: 25px;
      }

      @include mobile {
        font-size: 20px;
      }
    }
  }
  #driverBirth {
    margin-top: 5px;
    font-size: 18px;
    text-align: center;
    color: $gray;
  }

  #driverInsurance {
    margin: 40px;

    display: flex;

    .InsuranceText {
      display: flex;
      flex-direction: column;
      align-items: center;

      & p:first-of-type {
        @include insuranceInfo;

        font-size: 1.5rem;
        font-weight: 700;
      }

      & p:last-of-type {
        margin-top: 15px;

        font-size: 1rem;
      }
    }
  }
  #editDriverBtn {
    margin: 25px 2rem 0px;

    border-bottom: 1px solid $white;

    cursor: pointer;

    font-size: 1rem;
    color: $gray;
  }
}

#postEditDriverBtn {
  width: 10rem;
  height: 30px;
  margin: 25px 2rem 0px;

  cursor: pointer;

  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;

  transition: 0.5s;

  &:hover {
    border: 1px solid $black;
    border-radius: 10px;

    color: $black;
    background-color: $white;
  }
}
