.main-middle {
    padding-left: 150px;
    padding-right: 150px;
}

.middle-menu {
    display: flex;
}

.middle-checkbox {
    width: 30px;
    height: 30px;
    margin-left: 15px;
    
}
.middle-text-container {
    display: flex;
    width: 100%;
    justify-content: space-between; /* 요소들 사이의 간격을 최대로 확보하여 정렬 */
    align-items: center; /* 요소들을 수직으로 중앙 정렬 */
}

.middle-text {
    flex-grow: 1; /* 요소들이 가능한 최대 공간을 차지하도록 설정 */
    text-align: center; /* 텍스트를 중앙 정렬 */
    padding: 10px; /* 텍스트와 요소 경계 사이의 여백 조절 */
}

/* 다이얼로그를 숨기는 스타일 추가 */
.dialog {
    display: none; /* 초기에는 모달 숨김 */
    position: fixed;
    width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.dialog-content {
    display: flex;
    flex-direction: column;
    align-items: center; /* 내부 요소를 수평으로 가운데 정렬 */
}

.image-preview-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
    position: relative;
}

.image-preview-circle {
    width: 120px;
    height: 120px;
    background-color: #f0f0f0;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.image-preview-circle img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    display: none;
}

#dogImageInput {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

#dogNameInput {
    margin-bottom: 10px;
    height: 20px;
}

#dogBreedInput {
    margin-bottom: 10px;
    height: 20px;
}

#dogBirthdayInput {
    margin-bottom: 10px;
    height: 20px;
}

#dogGenderInput {
    margin-bottom: 10px;
    height: 20px;
}

.dialog-button-container {
    display: flex;
    flex-direction: row;
}

#dialogRegisterDogButton {
    width: 60px;
    height: 35px;
    margin-right: 10px;
}

#closeModalButton {
    width: 60px;
    height: 35px;
}



#dogInfoContainer {
    display: flex;
    flex-direction: column; /* 요소들을 수직으로 나열 */
    align-items: center; /* 요소들을 수평으로 정렬 */
    padding-left: 150px;
    padding-right: 150px;
}


.dog-info {
    display: flex;
    align-items: center;
    width: 100%;
    height: 130px;
    margin: 10px;
    text-align: center;
    border: 1px solid #ccc;
    padding: 10px;
}

.dog-checkbox {
    width: 30px; /* 체크박스의 너비 설정 */
    height: 30px;
    margin-left: 15px;
}

.info-container {
    display: flex;
    width: 100%; /* 나머지 요소들의 너비 설정 */
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.image-container {
    width: calc(20% - 30px); /* 이미지 컨테이너의 너비 설정 */
    display: flex; /* 내부 요소를 가로로 정렬하기 위해 설정 */
    height: 100px;
    justify-content: center; /* 내부 요소를 가운데 정렬하기 위해 설정 */
    align-items: center; /* 내부 요소를 수직으로 가운데 정렬하기 위해 설정 */
    margin-left: auto;
    margin-right: auto;
  }
  
/* 이미지의 스타일 */
.image-container img {
    width: 100px;
    height: 100px;
    border-radius: 50%; /* 이미지를 동그라미 모양으로 만듦 */
}


.info-container span {
    width: calc(20% - 30px); /* 나머지 요소들의 너비 설정 (체크박스의 너비를 뺀 너비를 4등분) */
    font-size: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
