@charset "UTF-8";
@keyframes slideDown {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
main {
  padding: 2rem 1rem;
}

.navbar-brand img {
  width: 34px;
}
@media all and (max-width: 768px) {
  .navbar-brand span {
    font-size: 0.9rem;
  }
}

@media all and (max-width: 768px) {
  #nickname {
    font-size: 0.9rem;
  }
}

@media all and (max-width: 768px) {
  .nav-item button {
    font-size: 0.9rem;
  }
}

.sub-tit {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  color: #666;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ddd;
}

.sub-des {
  font-size: 0.8rem;
  text-align: left;
  font-weight: bold;
  color: red;
  padding-left: 0;
}

.list-container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  margin-top: 2rem;
}
.list-container #search-area {
  display: flex;
  gap: 10px;
  border-bottom: 1px solid #ddd;
  padding: 20px;
  background: rgb(162, 82, 255);
  background: linear-gradient(126deg, rgb(162, 82, 255) 0%, rgb(172, 49, 254) 100%);
  border-radius: 1rem;
  margin-bottom: 1rem;
}
.list-container #search-area #create-btn,
.list-container #search-area #delete-btn {
  background-color: #dea5a5;
  color: white;
  padding: 5px;
}
@media all and (max-width: 768px) {
  .list-container #search-area {
    flex-direction: column;
  }
}
.list-container .list-item {
  flex: 1 0 32.33%;
  max-width: 32.33%;
  padding: 10px;
  padding-top: 30px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: none;
  text-decoration: none;
  transition: all 0.3s;
}
.list-container .list-item input {
  position: absolute;
  left: 10px;
  top: 10px;
}
@media all and (max-width: 768px) {
  .list-container .list-item {
    flex: 1 0 49%;
    max-width: 49%;
  }
}
@media all and (max-width: 576px) {
  .list-container .list-item {
    flex: 1 0 100%;
    max-width: 100%;
  }
}
.list-container .list-item:hover {
  transform: translateY(-15px);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#list-area {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 1rem;
}

.card-img-wrap {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  background: rgb(23, 154, 212);
  background: linear-gradient(126deg, rgb(23, 154, 212) 0%, rgb(30, 199, 198) 100%);
}

.card-body .btn {
  position: absolute;
  right: 10px;
  top: 10px;
}
.card-body .memo-text {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  border-top: 1px solid #ddd;
  margin-top: 10px;
  padding-top: 10px;
}
.card-body .user-text {
  color: #b9b9b9;
}

.search-wrap {
  position: relative;
  width: 100%;
}
.search-wrap .btn-inner {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.btns-wrap {
  display: flex;
  gap: 10px;
}
@media all and (max-width: 768px) {
  .btns-wrap button {
    width: 100%;
  }
}

.list-wrapper {
  background-color: #edebee;
  padding: 1rem;
  border-radius: 20px;
}

#detail-wrap {
  max-width: 800px;
  width: 100%;
  background-color: #edebee;
  border-radius: 20px;
  padding: 2rem;
  margin-bottom: 2rem;
  animation: slideDown 0.8s ease-in-out forwards;
}
#detail-wrap .preview-wrap {
  position: relative;
}
#detail-wrap .preview-wrap:after {
  content: "이미지 변경";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#detail-wrap .image {
  position: relative;
  max-width: 200px;
}
@media all and (max-width: 576px) {
  #detail-wrap .image {
    max-width: 60%;
    margin: 0 auto;
  }
}
#detail-wrap .image img {
  max-width: 100%;
  background: linear-gradient(126deg, rgb(23, 154, 212) 0%, rgb(30, 199, 198) 100%);
  border-radius: 50%;
}
#detail-wrap .image input {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
}
#detail-wrap .name {
  font-size: 1.5em;
}
#detail-wrap .lists {
  font-size: 1.2em;
  font-weight: 500;
  color: #076f8e;
}
@media all and (max-width: 768px) {
  #detail-wrap .lists {
    font-size: 0.9em;
  }
}

.regis-container {
  max-width: 800px !important;
  width: 100%;
  background-color: #edebee;
  padding: 2rem !important;
  border-radius: 20px;
}
.regis-container .form-check-wrap {
  display: flex;
  gap: 10px;
  margin-bottom: 1em;
}
.regis-container .form-check {
  width: 2.5rem;
}
.regis-container .form-control {
  margin-bottom: 1em;
}
.regis-container .form-tit {
  font-size: 1.2em;
  margin-bottom: 0.2em;
  font-weight: 700;
  color: #666;
}
.regis-container .preview-wrap img {
  max-width: 200px;
  width: 100%;
}
.regis-container input {
  background-color: white;
  width: 100%;
}

.login-container {
  max-width: 450px !important;
  width: 100%;
  background-color: #edebee;
  padding: 2rem;
  border-radius: 20px;
  animation: slideDown 0.8s ease-in-out forwards;
}
.login-container .des {
  margin-top: 2em;
  font-size: 0.9em;
}

#sign-area {
  display: none;
}

.loading-container {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #d1dae3;
}

.loading-container img {
  width: 300px; /* 이미지의 크기 조정 */
  height: auto; /* 이미지의 크기 조정 */
}

#filter-area label {
  color: white;
  border-radius: 5px;
  padding: 3px 6px;
  font-weight: bold;
}
@media all and (max-width: 576px) {
  #filter-area label {
    padding: 0px 2px;
  }
}
#filter-area label:nth-of-type(1) {
  color: #0d6efd;
}
#filter-area label:nth-of-type(2) {
  color: #fd9100;
}
#filter-area label:nth-of-type(3) {
  color: #dc3545;
}