.profile-list {
    .inner {
        .profile-list-top {
            display: flex;
            gap: 1.6rem;
            .search {
                position: relative;
                width: 100%;
                border-radius: 0.6rem;
                border: 1px solid rgb(208, 215, 222);
                display: flex;
                align-items: center;
                i {
                    position: absolute;
                    left: 0.8rem;
                    color: $gray76;
                    font-size: 1.2rem;
                }
                input {
                    width: 100%;
                }
            }
            .util {
                display: flex;
                gap: 1rem;
            }
        }
        .profile-list-btm {
            margin-top: 2.4rem;
            .table {
                .row {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    background-color: rgb(246, 248, 250);
                    font-size: 1.4rem;
                    border: 1px solid rgb(208, 215, 222);
                    border-radius: 0.6rem;
                }
                .item-wrap {
                    display: flex;
                    flex-direction: column;
                    font-size: 1.6rem;
                    gap: 1rem;
                    width: 100%;
                    .profile-item {
                        width: 100%;
                        .profile-info {
                            display: flex;
                            justify-content: space-between;
                            padding: 0.8rem 1.6rem;
                            align-items: center;
                            border: 1px solid rgb(208, 215, 222);
                            border-radius: 0.6rem;
                            column-gap: 5rem;
                            row-gap: 1rem;
                            font-size: 1.4rem;
                            flex-wrap: wrap;
                            @include isMobile(680px) {
                                flex-wrap: wrap;
                                flex-direction: column;
                                justify-content: flex-start;
                                column-gap: 4rem;
                                row-gap: 1rem;
                                text-align: center;
                            }
                            .checkbox {
                                padding-left: 0.8rem;
                            }
                            .photo {
                                width: 10rem;
                                height: 10rem;
                                border-radius: 50%;
                                overflow: hidden;
                                @include isMobile(680px) {
                                    width: 15rem;
                                    height: 15rem;
                                }
                            }
                            .text {
                                white-space: normal;
                                word-break: break-all;
                                width: 50rem;
                                @include isMobile(780px) {
                                    order: 4;
                                    width: 100%;
                                }
                            }
                            .name {
                                width: 6rem;
                                font-weight: 700;
                            }
                            .rank {
                                width: 6rem;
                            }
                            .email {
                                width: 20rem;
                                white-space: normal;
                                word-break: break-all;
                            }
                        }
                    }
                }
            }
        }
    }
}
