@import 'src/public/assets/styles/common.scss';

.members {
  &__container {
  }
  &__title {
  }

  &__contents {
    border-radius: 0.5rem;
    box-shadow: 0px 1px 2px 0px rgb(0 0 0 / 3%), inset 0 2px 4px 0 rgb(255 255 255);
    background: linear-gradient(179deg, rgb(242, 242, 243) -50%, rgb(255, 255, 255) 100%);

    &__title {
      font-size: 1rem;
      font-weight: 500;
      line-height: 1.2;
      color: var(--bs-heading-color);
      margin-top: 0;
      padding-bottom: 0.8rem;
      margin-bottom: 0;
      border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
    }
  }

  &__row {
    --bs-text-opacity: 1;
    padding: 0.5rem 1rem;
    align-items: center;
    margin: 0;
    padding-top: 1rem;
    border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
  }

  &__image {
    flex: 0 0 0%;
    padding: 0;

    &__wrap {
      display: block;
      width: 4rem;
      height: 4rem;
      border: 1px solid #fff;
      border-radius: 50%;
      overflow: hidden;
      position: relative;

      img {
        width: 125%;
        height: auto;
        object-fit: cover;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  &__info {
    flex: 1 0 0%;

    &__wrap {
      display: flex;
      flex-direction: column;
      text-align: left;
      line-height: 1.4;
    }

    &__name {
      font-size: 1.1rem;
      font-weight: 500;
    }
    &__email {
      font-size: 0.8rem;
      color: #c1c1c2;
    }
  }

  &__position {
    flex: 0 1 0%;

    &__txt {
      font-size: 0.9rem;
      color: #fc4892;
      padding: 3px 13px;
      background: rgb(254 236 243);
      border-radius: 1rem;
    }
  }
  &__team {
    flex: 0 1 auto;

    &__txt {
      font-size: 0.9rem;
      color: #fc4892;
      padding: 3px 13px;
      background: rgb(254 236 243);
      border-radius: 1rem;

      i {
        font-size: 0.75rem;
      }
    }
  }
  &__ellipsis {
    color: #c1c1c2;

    &-btn {
      color: #c1c1c2;
    }
  }
}

// tooltip
.tooltips {
  position: relative;
  display: inline-block;
  padding: 0 0.5rem;
  cursor: pointer;

  .tooltipcontent {
    visibility: hidden;
    width: 100%;
    text-align: center;
    position: absolute;
    left: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 3px;
    justify-content: center;
    align-items: center;

    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

  &.clicked .tooltipcontent {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    transition: visibility 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
  }

  &:not(.clicked) .tooltipcontent {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-10px);
    transition: visibility 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
  }

  .tooltipcontent .tooltipitem {
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    transition: background-color 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
    opacity: 0;
    transform: translateY(-10px);
  }

  &.clicked .tooltipcontent .tooltipitem {
    background-color: #f0f0f0;
    transition: visibility 0.3s ease, opacity 0.3s ease, transform 0.3s ease;

    &:nth-child(1) {
      opacity: 1;
      transform: translateY(0);
      transition-delay: 0.2s;
    }

    &:nth-child(2) {
      opacity: 1;
      transform: translateY(0);
      transition-delay: 0.4s;
    }
  }

  .tooltipcontent .tooltipitem i {
    color: #c1c1c2;
  }
}
