.login-header {
    padding: 60px;
    display: flex;
    align-items: center; /* 수직 가운데 정렬 */
    flex-direction: column;
}

.login-header-text {
    font-size: 80px;
}

.login-header-text2 {
    font-size: 30px;
}

.google-login-button-container {
    display: flex;
    align-items: center; /* 수직 가운데 정렬 */
    flex-direction: column; /* 버튼을 수직으로 정렬하기 위해 추가 */
}

#google-login-button {
    margin-top: 10px; /* 버튼 위 간격 설정 */
    display: flex;
    align-items: center; /* 내부 아이콘과 텍스트를 수직 가운데로 정렬 */
    padding: 20px 16px; /* 버튼 내부 여백 설정 */
    border: none;
    background-color: #4285F4;
    color: white;
    cursor: pointer;
    border-radius: 8px;
    font-size: 16px;
}

#google-login-button i {
    margin-right: 10px; /* 아이콘과 텍스트 사이의 간격 설정 */
}