* {
  box-sizing: border-box;
}

.wrap {
  width: 100vw;
}

.home-container {
  margin-top: 2rem;
  padding: 0 10rem;
}

.home-main-container {
  width: 100%;
}

.page-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2.5rem;
}

.action-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  margin-bottom: 1.5rem;
}

.button-box {
  width: 20%;
}

.button-box > button {
  width: 100%;
  height: 3rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-weight: 700;
  color: #ffffff;
  background-color: #1c69d4;
}

.button-box > button:hover {
  opacity: 0.8;
}

.search-box {
  width: 50%;
  height: 100%;
}

.search-input-box {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  border: 1.4px solid #868e96;
  padding: 0 0.3rem;
  border-radius: 5px;
}

.search-input-box > input {
  width: 100%;
  height: 80%;
  border: none;
  outline: none;
  padding-left: 0.5rem;
}

.material-symbols-outlined {
  color: #868e96;
}

.workers-info-box-header {
  width: 100%;
  height: 3rem;
  border-style: solid;
  border-width: 1.5px 0 1.5px 0;
  border-color: #868e96;
}

.worker-box {
  align-items: center;
  display: flex;
  width: 100%;
  font-size: 0.8rem;
  height: 100%;
  font-weight: 700;
  color: #495057;
  padding: 0 1rem;
}

.worker-box > li {
  justify-content: center;
  display: flex;
  flex: 1;
  padding: 1rem 0;
}

.worker-box > li > input {
  height: 1.3rem;
  width: 1.3rem;
  cursor: pointer;
}

.worker-img-box > img {
  width: 100%;
  height: 100%;
}

.worker-img-box {
  width: 100%;
  height: 10rem;
  border-radius: 10px;
  cursor: pointer;
}

#worker {
  border-bottom: 1px solid #e9ecef;
}
