@font-face {
  font-family: "HakgyoansimWoojuR";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimWoojuR.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "HakgyoansimWoojuR";
  box-sizing: border-box;
}
