.modal__background,
.detail-modal__background,
.update-modal__background {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 98;
}

.employee-detail__modal,
.employee-add__modal,
.employee-update__modal {
  width: 70vw;
  height: 90vh;
  position: absolute;
  left: 15vw;
  top: 3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  border-radius: 10px;
  padding: 10px;
  z-index: 99;
}
.close-icon,
.close__icon {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 99;
  cursor: pointer;
}
.employee-add__modal > form,
.employee-detail__modal > form {
  width: 50vw;
  margin-top: 1vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}

.add-file__wrapper {
  flex-direction: column;
}
.add-data__file {
  margin: 2vh auto;
}

.add-data__img {
  width: 15vw;
  height: 15vw;
  object-fit: cover;
  background-color: #ececec;
}

.add-file__wrapper,
.employee-add__modal > form > input,
.add-data,
.detail-data {
  width: 30vw;
  display: flex;
  flex: 1 1 auto;
  margin: 5px;
  justify-content: space-between;
  align-items: center;
}
.employee-add__modal > form > input {
  margin: 4vh auto 3vh auto;
}
.add-data > label {
  font-size: 1.5vw;
  margin-right: 10px;
  font-weight: 600;
}
.add-data > input,
.detail-data > p {
  width: 50%;
  height: 4vh;
  font-size: 15px;
}

.employee-add__modal button,
.edit__button,
.delete__button {
  width: 20vw;
  height: 6vh;
  margin-top: 30px;
  background-color: #28288c;
  border-radius: 8px;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1.2vw;
  font-weight: 600;
  box-shadow: 6px 6px rgba(0, 0, 0, 0.5);
}
.employee-add__modal button:hover,
.edit__button:hover {
  background-color: #6e6ed7;
}

/* 직원 상세 모달 */
.detail__img {
  width: 15vw;
  margin: 0 auto 30px auto;
}
.employee-add__modal input::placeholder,
.employee-add__modal input,
.employee-detail__modal input::placeholder,
.employee-detail__modal input {
  color: black;
  font-weight: 600;
  font-size: 16px;
}
.add-data > label {
  font-size: 18px;
  font-weight: 500;
  color: #4b4848;
}
.detail-data > p {
  font-size: 1.5vw;
  font-weight: 700;
}
.detail-button__wrapper {
  display: flex;
}
.edit__button,
.delete__button {
  width: 15vw;
  margin-top: 30px;
  font-size: 15px;
}
.delete__button {
  margin-left: 20px;
}
