.modal__background,
.detail-modal__background {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 98;
}

.employee-detail__modal,
.employee-add__modal {
  width: 800px;
  height: 650px;
  position: absolute;
  left: 360px;
  top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  border-radius: 8px;
  padding: 10px;
  z-index: 99;
}
.employee-add__modal > h1,
.employee-detail__modal > h1 {
  font-size: 35px;
  margin: 0.4em;
}
.close-icon,
.close__icon {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 99;
  cursor: pointer;
}
.employee-add__modal > form,
.employee-detail__modal > form {
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}

.add-file__wrapper {
  flex-direction: column;
}
.add-data__file,
.update-data__file {
  margin: 20px auto;
}

.add-data__img,
.detail__img {
  width: 230px;
  height: 230px;
  object-fit: cover;
  background-color: #ececec;
}

.add-file__wrapper,
.employee-add__modal > form > input,
.add-data {
  width: 450px;
  display: flex;
  flex: 1 1 auto;
  margin: 5px;
  justify-content: space-between;
  align-items: center;
}
.employee-add__modal > form > input,
.employee-detail__modal > form > input {
  margin: 40px auto 30px auto;
}
.add-data > label {
  margin-right: 10px;
  font-weight: 600;
  font-size: 18px;
  font-weight: 500;
  color: #4b4848;
}
.add-data > input {
  width: 50%;
  height: 4vh;
}

.employee-add__modal button,
.edit__button,
.delete__button {
  width: 300px;
  height: 45px;
  margin-top: 30px;
  background-color: #28288c;
  border-radius: 8px;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  box-shadow: 6px 6px rgba(0, 0, 0, 0.5);
}
.employee-add__modal button:hover,
.edit__button:hover {
  background-color: #6e6ed7;
}

.employee-add__modal input::placeholder,
.employee-add__modal input,
.employee-detail__modal input::placeholder,
.employee-detail__modal input {
  color: black;
  font-weight: 600;
  font-size: 16px;
}

.detail-button__wrapper {
  display: flex;
}
.edit__button,
.delete__button {
  width: 210px;
  margin-top: 30px;
  font-size: 15px;
}
.delete__button {
  margin-left: 30px;
}

@media screen and (max-width: 391px) {
  .employee-detail__modal,
  .employee-add__modal {
    box-sizing: border-box;
    width: 90%;
    height: 80%;
    position: relative;
    top: 50px;
    left: 20px;
  }

  .employee-detail__modal > h1,
  .employee-add__modal > h1 {
    font-size: 20px;
  }
  .employee__form {
    width: 90%;
  }
  .employee-detail__modal img,
  .employee-add__modal img {
    width: 150px;
    height: 150px;
  }
  .employee-add__modal label,
  .employee-add__modal input,
  .employee-add__modal input::placeholder,
  .employee-detail__modal label,
  .employee-detail__modal input,
  .employee-detail__modal input::placeholder {
    width: 100%;
    font-size: 14px;
  }
  .employee-add__modal input,
  .employee-detail__modal input {
    height: 20px;
  }
  .add-data__file,
  .update-data__file {
    margin-left: 130px;
  }
  .add-data {
    width: 90%;
    justify-content: space-between;
  }
  .detail-button__wrapper > button {
    width: 80px;
    height: 40px;
    margin-top: 20%;
    font-size: 13px;
  }
}
