.registration-container {
  padding: 0 4rem;
  margin-top: 2rem;
}

.registration-form {
  border: 2px solid #1c69d4;
  border-radius: 5px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 1rem;
  height: 50vh;
}

.img-input-box {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.img-preview {
  height: 80%;
  border: 1px solid #dee2e6;
  border-radius: 5px;
}

.form-right {
  display: flex;
  flex-direction: column;
  width: 55%;
  height: 100%;
  justify-content: space-between;
}

.worker-info-box {
  display: flex;
  height: 80%;
  flex-direction: column;
  justify-content: space-evenly;
}

label {
  width: 5rem;
}

.worker-info-box input {
  outline: none;
  padding: 0 0.3rem;
  height: 100%;
  width: 100%;
  border: 1px solid #868e96;
  border-radius: 5px;
}

.worker-info-box input:focus {
  border: 1.2px solid #1c69d4;
}

.info-item {
  display: flex;
  align-items: center;
  width: 100%;
  height: 2rem;
}

#workerImg {
  border: none;
  cursor: pointer;
}

.register-button-box {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  height: 10%;
}

.register-button-box > button {
  width: 5rem;
  height: 100%;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.register-button-box > button:hover {
  opacity: 0.8;
}

.register-button-box > button:nth-child(1) {
  color: white;
  background-color: #1c69d4;
}
