@font-face {
    font-family: 'Pretendard-Regular';
<<<<<<< HEAD
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
=======
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
        format('woff');
>>>>>>> 1fc9ce8fa663de85a56b2d440b4cc68a624aca55
    font-weight: 400;
    font-style: normal;
}

html {
    width: 100%;
    height: 100%;
    font-size: 1vw;

    overflow-x: hidden;

    box-sizing: border-box;

    --color-main: #ffffff;
    --color-primary: #486284;
    --color-secondary: #dee5ed;
    --color-space: #ced7e4;

    font-family: 'Pretendard-Regular', sans-serif;
}

/*
font-family: 'Black Han Sans', sans-serif;
font-family: 'Nanum Gothic', sans-serif;
*/

body {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
}

.root-div {
    width: 100%;
    height: 100%;
}

section {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: black;
}

input {
    padding: 0.5rem;

    border: 0;
    border-radius: 0.5rem;
    outline: none;

    background-color: var(--color-space);
}

input:focus {
    background-color: white;
    box-shadow: 0 0 0 0.25rem var(--color-primary);
}

label {
    text-align: start;

    margin-top: 1rem;
    margin-bottom: 0.3rem;
<<<<<<< HEAD
=======

    font-size: 1.4rem;
>>>>>>> 1fc9ce8fa663de85a56b2d440b4cc68a624aca55
}

.btn.btn-primary {
    display: flex;
    justify-content: center;
    align-items: center;
<<<<<<< HEAD
    text-align: center;

    padding: 1rem 1.8rem;
=======

    padding: 1rem 1.8rem;
    gap: 0.7rem;
>>>>>>> 1fc9ce8fa663de85a56b2d440b4cc68a624aca55

    font-size: 1rem;
    font-family: 'Black Han Sans', sans-serif;

<<<<<<< HEAD
    border: none;
    border-radius: 5rem;
=======
    border-radius: 5rem;
    border: none;
>>>>>>> 1fc9ce8fa663de85a56b2d440b4cc68a624aca55
    color: var(--color-main);
    background-color: var(--color-primary);

    cursor: pointer;
}

.btn.btn-secondary {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1rem 1.8rem;
<<<<<<< HEAD
=======
    gap: 0.7rem;
>>>>>>> 1fc9ce8fa663de85a56b2d440b4cc68a624aca55

    font-size: 1rem;
    font-family: 'Black Han Sans', sans-serif;

    border-radius: 5rem;
    border: none;
    color: var(--color-primary);
    background-color: var(--color-secondary);

    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;

    width: 85%;
    height: 100%;

    margin: 0 auto;
}
