.employee-table__warpper {
  width: 93%;
  margin: 30px auto;
}

.employee-table {
  width: 100%;
  font-size: 18px;
}

.employee-table tbody > tr {
  height: 35px;
  font-weight: 600;
  margin-top: 3px;
  border-top: 1px solid #4b4848;
  border-bottom: 1px solid #4b4848;
}

.row-data {
  width: 100%;
  text-align: center;
  transform: scale(1);
  transition: transform 0.8s;
  font-weight: 600;
}

.row-data > input[type="checkbox"] {
  margin-top: 20px;
}

.employee-table th,
.employee-table td {
  vertical-align: middle;
}

.row-data:hover {
  transform: scale(1.02);
  transition: transform 0.8s;
}
.employee__img {
  margin: 10px;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 2px solid #4b4848;
  border-radius: 50%;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.8s;
}
.employee__img:hover {
  transform: scale(1.1);
  transition: transform 0.8s;
}

@media screen and (max-width: 391px) {
  .employee-table__warpper {
    width: 95%;
  }
  .employee-table {
    width: 100%;
    font-size: 14px;
  }
  .employee-table th:nth-of-type(4),
  .employee-table th:nth-of-type(5),
  .employee-table td:nth-of-type(4),
  .employee-table td:nth-of-type(5) {
    display: none;
  }
  .employee__img {
    width: 80px;
    height: 80px;
  }
}
