* {
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.wrapper {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 50px;
  width: 100%;
  max-width: 600px;
}

.title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 50px;
}

.write-wrap {
  width: 100%;
}

.input-wrap {
  width: 100%;
  margin-bottom: 15px;
}

.input-wrap label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.input-wrap input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input-wrap .get-address-btn {
  margin: 3px 0 10px;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 5px 0 0 #0050cc;
  transition: all 0.2s ease;
}

.get-address-btn:hover {
  box-shadow: none;
  transform: translateY(5px);
}

.get-address-btn:active {
  transform: scale(0.95);
}

.input-wrap input[type='file'] {
  padding: 5px;
}

.input-wrap button[type='submit'] {
  width: 100%;
  background: linear-gradient(0deg, rgba(0, 3, 255, 1) 0%, rgba(2, 126, 251, 1) 100%);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
  z-index: 1;
  position: relative;
}

.input-wrap button[type='submit']::after {
  content: '';
  width: 100%;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(0deg, rgba(0, 3, 255, 1) 0%, rgba(10, 40, 80, 1) 100%);
  transition: all 0.2s ease;
  z-index: -1;
  border-radius: 5px;
}

.input-wrap button[type='submit']:hover::after {
  top: auto;
  bottom: 0;
  height: 100%;
}

.error {
  color: red;
  margin: 5px;
  font-size: 0.75rem;
  display: none;
}

.success {
  color: green;
  margin: 5px;
  font-size: 0.75rem;
  display: none;
}

.active {
  display: block;
}

/* 768px 이하 화면 크기에 대한 스타일 */
@media (max-width: 768px) {
  .wrapper {
    padding: 20px;
  }
  .title {
    font-size: 1.2rem;
  }
  .input-wrap label {
    font-size: 0.9rem;
  }
  .input-wrap input,
  .input-wrap .get-address-btn,
  .input-wrap button[type='submit'] {
    font-size: 0.9rem;
  }
}
