/* Reset styles */
html,
body,
div,
span,
h1,
h2,
h3,
img {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent;
}
body {
  line-height: 1;
}
:focus {
  outline: 0;
}
:root {
  --color-primary: #328c45;
  --color-secondary: #000;
  --color-surface: #fafafa;
  --color-textActive: rgba(10, 10, 10, 1);
  --color-textDefault: rgba(10, 10, 10, 0.7);
  --color-textMuted: rgba(10, 10, 10, 0.3);
  --color-textOnPrimary: #fcfcfc;
  --color-textOnSecondary: #fcfcfc;
  --color-outline: #efefef;
}

.hidden {
  display: none !important;
}
