$backgroud: #efece8;
$black: black;
$pink: #e64980;
$pink-background: #ffe4e4;
$green: #2f9e44;
$green-background: #d8f8dd;
$darkgray: #414141;
$gray: #c6c3bd;
$white: #fff;

.header {
  position: relative;
  width: 25%;
  height: 100vh;
  box-shadow: 3px 3px 14px 0px rgba(112, 112, 112, 0.69);
  align-items: center;
  border-right: 1px solid #efece8;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  div,
  nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
  }
  a {
    width: 100%;
    height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
  }

  .header__user-info-box {
    margin: 50px 0px 50px;
  }
  .header__sub-menu-list,
  .header__sub-menu-add {
    font-size: 1.3rem;
  }
}
.header__user-info-box {
  row-gap: 15px;
  img {
    width: 12rem;
    height: 12rem;
  }
  .header__user-info-text-box {
    display: flex;
    align-items: flex-start;
    width: 30%;
  }
  h4 {
    font-weight: 800;
  }
}
.header__sub-menu-list {
  color: $green;
  outline: none;
  border: none;
}
.header__sub-menu-list:hover {
  background-color: $green;
  color: $white;
  border: none;
  outline: none;
}
.header__sub-menu-add {
  color: $pink;
  outline: none;
  border: none;
}
.header__sub-menu-add:hover {
  background-color: $pink;
  color: $white;
  border: none;
  outline: none;
}
.header__sub-menu-box {
  margin-top: 10px;
}
.header__user-menu-box {
  position: absolute;
  bottom: 50px;
  img {
    width: 1.5rem;
  }
}
