* {
  box-sizing: border-box;
}

body {
  margin: 0 70px;
  font-family: "GoryeongStrawberry";
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--color-text);
}

button {
  background-color: transparent;
  outline: 0;
  border: 0;
  cursor: pointer;
}

button:focus {
  outline: 1px solid transparent;
}

/* Header */
.header {
  font-size: 1.5rem;
  margin-top: 50px;
  display: flex;
  align-items: center;
  gap: 30px;
}

.header__logo__img {
  width: 50px;
  height: 50px;
}

/* list */
.list {
  margin: 50px 0 0 15px;
  display: flex;
  flex-direction: column;
}

.list__etc {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list__btn {
  display: flex;
  gap: 20px;
}

.list__registration {
  background-color: #1dbf04;
  padding: 15px;
  border-radius: 8px;
  color: white;
  font-size: 1.2rem;
  font-family: "GoryeongStrawberry";
  transition: all 0.3s ease;
}

.list__registration:hover {
  background-color: #a3cc7a;
}

.list__delete {
  background-color: lightgray;
  padding: 15px;
  border-radius: 8px;
  color: gray;
  font-size: 1.2rem;
  font-family: "GoryeongStrawberry";
  transition: all 0.3s ease;
}

.list__delete:hover {
  background-color: #e2e2e2;
}

.list__form {
  position: relative;
}

.list__search {
  padding: 15px;
  border: 1px solid lightgrey;
  border-radius: 8px;
}

.list__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 0;
}

.list__container.first {
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
  color: grey;
  font-size: 1.3rem;
}

.list__container.detail {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

.list__member.top {
  white-space: nowrap;
}

.list__member {
  width: 70px;
  white-space: normal;
}

.list__member.select {
  cursor: pointer;
  text-align: center;
}

.list__member__img {
  width: 100px;
  height: 130px;
}

@font-face {
  font-family: "GoryeongStrawberry";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/GoryeongStrawberry.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@media screen and (max-width: 1024px) {
  .list__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
  }

  .list__container.first {
    font-size: 1.2rem;
  }

  .list__member.top {
    white-space: normal;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  body {
    margin: 0px 30px;
  }

  .header {
    justify-content: center;
  }

  .list__etc {
    justify-content: center;
  }

  .list__search {
    display: none;
  }

  .list__container {
    display: flex;
    justify-content: space-around;
  }

  .list__container.first {
    font-size: 1rem;
  }

  .list__container.detail {
    font-size: 0.8rem;
  }

  .list__member__img {
    width: 70px;
    height: 100px;
  }
  .list__member.top {
    white-space: nowrap;
    padding: 10px 0px;
  }
}
