body {
  padding: 60px 100px;
  font-family: Pretendard !important;
}
.main-header {
  display: flex;
  justify-content: space-between;
  font-size: 3rem;
  color: var(--color-textActive);
  margin-bottom: 5rem;
}
.main-header img {
  width: 5rem;
}

.main-header b {
  color: var(--color-primary);
}

.main-control {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
}
.main-control-btn {
  display: flex;
  gap: 1rem;
}
.main-control-btn button {
  font-family: Pretendard;
  font-size: 1rem;
  width: 10rem;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  background-color: var(--color-surface);
  &:first-child {
    &:hover {
      color: var(--color-textOnPrimary);
      background-color: var(--color-primary);
    }
  }
  &:nth-child(2) {
    &:hover {
      color: var(--color-textOnSecondary);
      background-color: var(--color-secondary);
    }
  }
}

.main-control-btn .delete-cancel {
  color: var(--color-textDefault);
  background-color: #f5f5f5;
  &:hover {
    color: var(--color-textActive);
    background-color: #efefef;
  }
}

.main-control-btn .delete-on {
  color: var(--color-textOnSecondary);
  background-color: var(--color-secondary);
  &:hover {
    color: none;
    background-color: var(--color-secondary);
  }
}

.main-control-search {
  width: 25rem;
  border: 1px solid var(--color-outline);
  border-radius: 8px;
  display: flex;
  box-sizing: border-box;
  padding: 10px 16px;
  gap: 1rem;
}
.main-control-search img {
  cursor: pointer;
  object-fit: cover;
}
.main-control-search input {
  font-family: Pretendard;
  font-size: 1rem;
  border: none;
  width: 100%;
}

.loading {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  gap: 5px;
  justify-content: space-between;
  align-items: center;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  font-size: 1.125rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.circle {
  width: 60px;
  height: 80px;
  border-radius: 50%;
  animation: spin 0.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.soldier-container {
  display: flex;
  width: 100%;
  gap: 20px 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: white;
  margin-bottom: 30px;
}

.soldier {
  display: flex;
  width: calc(50% - 20px);
  align-items: center;
  padding: 20px 20px;
  border: 2px solid var(--color-outline);
  border-radius: 8px;
  box-sizing: border-box;
  justify-content: space-evenly;
  background-color: #ffffff;
}

.left {
  transition: transform ease 2s;
}

.left:not(.deletemode):hover {
  transform: translate(50%, 50%) scale(1.2);
  z-index: 2;
}
.right {
  transition: transform ease 2s;
}

.right:not(.deletemode):hover {
  transform: translate(-50%, 50%) scale(1.2);
  z-index: 2;
}

@keyframes enlarge {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.soldier:not(.deletemode):hover .edit-button {
  display: block;
  animation: enlarge 2s ease forwards;
}

.edit-button {
  display: none;
  cursor: pointer;
  width: 70px;
  height: 40px;
  background-color: var(--color-primary);
  font-family: Pretendard;
  font-size: 0.8rem;
  border: none;
  border-radius: 8px;
  color: var(--color-textOnPrimary);
  flex-shrink: 0;
}

.selected {
  border: 2px solid var(--color-secondary);
}

.soldier-photo {
  width: 140px;
  aspect-ratio: 1/1.2;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-right: 20px;
  flex-shrink: 0;
}
.soldier-photo img {
  width: 140px;
  aspect-ratio: 1/1.2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  object-fit: cover;
  box-sizing: border-box;
  border: 1px solid #f5f5f5;
  flex-shrink: 0;
}
.soldier-info {
  display: flex;
  width: 146px;
  flex-shrink: 0;
  flex-direction: column;
  gap: 10px;
}
.이름 {
  font-size: 1.25rem;
  font-weight: 800;
  margin-bottom: 10px;
}

#bottom-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}
.delete-mode-buttons button {
  width: 10rem;
  height: 43px;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  color: var(--color-textActive);
  background-color: var(--color-surface);
  &:first-child {
    color: var(--color-textOnSecondary);
    background-color: var(--color-secondary);
  }
}
#delete-confirm {
  font-family: Pretendard;
}

.delete-cancel {
  font-family: Pretendard;
  color: var(--color-textDefault);
  background-color: #f5f5f5;
  &:hover {
    color: var(--color-textActive);
    background-color: #efefef;
  }
}
.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.modal {
  position: fixed;
  width: 40%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  background-color: white;
  z-index: 2;
  border-radius: 8px;
}
.modal-title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}
.modal-input {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
  margin-bottom: 2rem;
}
.modal-input-photo {
  height: 168px;
  aspect-ratio: 140/168;
  background-color: var(--color-outline);
  background-image: url("/public/assets/icons/cameraIcon.svg");
  background-repeat: no-repeat;
  background-position: center; /* 배경 이미지를 요소의 중앙에 배치 */
  background-size: 50px;
  border-radius: 8px;
  flex-shrink: 0;
  cursor: pointer;
}
.modal-input-photo img {
  position: absolute;
  height: 168px;
  aspect-ratio: 140/168;
  object-fit: cover;
  border-radius: 8px;
}
#modal-photo-button {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.modal-input-text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.modal-input-text input {
  font-family: Pretendard;
  font-size: 1.1rem;
  margin-bottom: 0.7rem;
  border: none;
  border-bottom: 1px solid #bfbfbf;
  padding: 4px 0;
  &::placeholder {
    color: var(--color-textMuted);
  }
  &:focus {
    border-bottom-color: var(--color-primary);
    border-bottom-width: 1.5px;
  }
}
.modal-input-label {
  color: var(--color-textDefault);
}
.modal-button {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}
.modal-button button {
  font-family: Pretendard;
  font-size: 1rem;
  width: calc(50% - 1rem);
  border: none;
  border-radius: 8px;
  background-color: var(--color-surface);
  cursor: pointer;
  padding: 15px 0;
}
#confirm-modal-button:hover {
  background-color: var(--color-primary);
  color: var(--color-textOnPrimary);
}

@media (max-width: 1140px) {
  html {
    font-size: 14px;
  }
  .main-control {
    flex-wrap: wrap;
    justify-content: unset;
  }
  .main-control-btn {
    width: 100%;
  }
  .main-control-btn button {
    width: 33%;
  }
  .main-control-search {
    margin-top: 20px;
    width: 100%;
  }
  .soldier {
    width: calc(50% - 10px);
    padding: 10px 10px;
  }
  .soldier-info {
    width: 127px;
  }
}

@media (max-width: 960px) {
  html {
    font-size: 12px;
  }
  body {
    padding: 30px 60px;
  }
  .main-header {
    font-size: 2.5rem;
  }
  .main-header img {
    width: 4rem;
  }
  .soldier {
    width: 100%;
  }
  .soldier-photo {
    width: 100px;
  }
  .soldier-photo img {
    width: 100px;
  }
  .soldier-info {
    width: 110px;
  }
  .left {
    transition: transform ease 2s;
  }

  .left:not(.deletemode):hover {
    transform: translate(0%, 30%) scale(1.1);
    z-index: 2;
  }
  .right {
    transition: transform ease 2s;
  }

  .right:not(.deletemode):hover {
    transform: translate(0%, 30%) scale(1.1);
    z-index: 2;
  }

  .modal-input-photo {
    height: 120px;
  }
  .modal-input-photo img {
    height: 120px;
  }
  .modal-input-text {
    width: 150px;
  }
}

@media (max-width: 550px) {
  html {
    font-size: 8px;
  }
  body {
    padding: 20px 40px;
  }
  .main-header img {
    width: 6rem;
  }
  .main-control-btn button {
    padding: 10px 10px;
    height: 30px;
  }
  .main-control-search {
    padding: 5px 8px;
  }
  .soldier {
    padding: 10px;
    gap: 5px;
  }
  .soldier-info {
    width: 92px;
  }
  .edit-button {
    width: 50px;
    height: 27px;
  }
  .soldier-photo {
    width: 60px;
  }
  .soldier-photo img {
    width: 60px;
  }
  .이름 {
    margin-bottom: 3px;
  }
  .modal-input-photo {
    height: 72px;
  }
  .modal-input-photo img {
    height: 72px;
  }
}
