.main {
  width: 100%;
  margin: 100px 50px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.main h1 {
  font-size: 1.5rem;
}

.main__btn-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.main__btn-box .main__add-btn {
  width: 6rem;
  height: 2.3rem;
  border: 1px solid #e64980;
  outline: none;
  border-radius: 5px;
  color: #e64980;
  background-color: #fff;
}
.main__btn-box .main__add-btn:hover {
  background-color: #e64980;
  color: #fff;
  border: none;
}

.main__search-form {
  width: 30%;
}
.main__search-form .main__search {
  width: 80%;
  height: 2rem;
  font-size: 16px;
}
.main__search-form button {
  width: 15%;
  height: 2.4rem;
  background-color: transparent;
  border: 1px solid #414141;
  border-radius: 5px;
  outline: none;
}
.main__search-form button:hover {
  height: 2.4rem;
  background-color: #414141;
  color: #fff;
  border: none;
  outline: none;
}

hr {
  background: #c6c3bd;
  height: 1px;
  border: 0;
}

.users-list-kategorie {
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: 20px 200px 120px 200px 200px 100px 100px;
  align-items: center;
  text-align: center;
}

.users-list-box {
  text-align: center;
}
.users-list-box img {
  width: 5rem;
  margin: 0 auto;
}
.users-list-box .user-list-box {
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: 20px 200px 120px 200px 200px 100px 100px;
  align-items: center;
  margin-top: 20px;
}

.user-list-btn-box {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.user-list-btn-box button {
  height: 2rem;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: transparent;
}
.user-list-btn-box .user-list-btn-edit {
  border: 1px solid #1a71c2;
  color: #1a71c2;
}
.user-list-btn-box .user-list-btn-delete {
  border: 1px solid black;
  color: black;
}
.user-list-btn-box .user-list-btn-edit:hover {
  border: none;
  background-color: #1a71c2;
  color: #fff;
}
.user-list-btn-box .user-list-btn-delete:hover {
  border: none;
  background-color: black;
  color: #fff;
}

.section__user-add-box {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.section__user_img_container img {
  width: 10rem;
  height: 10rem;
}

.section__user_form {
  width: 30%;
  height: 60%;
  margin: 100px auto;
  background: #fff;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 50px;
  row-gap: 15px;
  border-radius: 10px;
}
.section__user_form input,
.section__user_form .section__user_email_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  -moz-column-gap: 10px;
       column-gap: 10px;
}

.user_imgInput,
.user_name,
.user_phone,
.user_password {
  width: 70%;
  height: 2rem;
}

.section__user_email_container {
  width: 72%;
}

.user_email {
  flex: 1;
  height: 2rem;
}

.user_email_check_btn {
  height: 2.3rem;
  color: #e64980;
  border: 1px solid #e64980;
  border-radius: 5px;
  background-color: transparent;
}

.user_email_check_btn:hover {
  color: #fff;
  background-color: #e64980;
  box-sizing: border-box;
}

.section__user_division_checkbox {
  width: 70%;
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
}
.section__user_division_checkbox label {
  display: flex;
  align-items: center;
  -moz-column-gap: 5px;
       column-gap: 5px;
  font-size: 1.1rem;
}

.section__user_button_container {
  display: flex;
  justify-content: space-evenly;
  height: 2rem;
  margin-top: 20px;
}
.section__user_button_container button {
  width: 25%;
  box-sizing: border-box;
  border-radius: 5px;
}

.section__user_add_btn {
  color: #e64980;
  background-color: transparent;
  border: 1px solid #e64980;
}

.section__user_add_btn:hover {
  color: #fff;
  background-color: #e64980;
  border: none;
}

.section__user_cancel_btn {
  color: black;
  background-color: transparent;
  border: 1px solid black;
}

.section__user_cancel_btn:hover {
  color: #fff;
  background-color: black;
  border: none;
}/*# sourceMappingURL=main.css.map */