header {
  .header__container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10000;
    background-color: $bg-gray-50;

    @include respond-to(md) {
      position: relative;
      top: 0;
      left: 0;
    }

    .header__nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 1rem;
      width: 100%;

      .header__logo {
        .header__title {
          font-size: 1.2rem;
        }
      }

      .header__btn-container {
        display: flex;

        .header__home-btn {
          border: none;
          background-color: transparent;
          width: 30px;
          height: 30px;
          border-radius: 10px;
          margin-right: 1rem;
          cursor: pointer;
          transition: all 0.2s ease;

          &:hover {
            width: 160px;
            background-color: map-get($map: $theme-colors, $key: bg-primary);
          }

          &:hover::after {
            content: "Go Home";
            white-space: nowrap;
            margin-left: 1rem;
            font-size: 1rem;
          }

          i {
            color: inherit;
            font-size: 1rem;
          }
        }

        .header__btn-add-user {
          width: 30px;
          height: 30px;
          border-radius: 10px;
          cursor: pointer;
          transition: all 0.2s ease;

          &:hover {
            width: 160px;
            background-color: map-get($map: $theme-colors, $key: bg-primary);
          }

          &:hover::after {
            content: "Create User";
            white-space: nowrap;
            margin-left: 1rem;
          }

          i {
            font-size: 1.2rem;
          }
        }
      }

      .header__search-user {
        margin: 1rem;
        position: relative;
        width: 200px;
        cursor: pointer;

        .header__btn-search-user {
          top: 50%;
          right: 10px;
          transform: translateY(-50%);
          position: absolute;
          font-size: 1rem;
        }

        .header__input-search {
          font-size: 1rem;
          width: 100%;
          padding: 8px;
          padding-right: calc(1rem + 20px);
          border: none;
          outline: none;
          border: 1px solid $bg-gray-900;
          border-radius: 8px;

          &:focus {
            border: 2px solid;
          }
        }
      }
    }
  }
}
