header {
  .header__container {
    position: relative;
    width: 100%;
    padding: 2rem;
    background-color: map-get($map: $theme-colors, $key: bg-primary);

    .header__nav {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .header__btn-add-user {
        i {
          font-size: 1.2rem;
          padding: 1rem;
          cursor: pointer;
        }
      }
    }
  }
}
