.user {
  margin-top: 80px;

  .user__container {
    .user__list {
      padding: 0 2rem;

      .user__user {
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 1rem;
        border-radius: $card-border-radius;
        box-shadow: $card-shadow;
        padding: 1rem;
        background-color: #fff;

        .user__image {
          width: 50px;
          height: 50px;
          background-color: $bg-gray-400;
          margin-right: 0.5rem;
          border-radius: 50%;
        }

        .user__info {
          .user__name {
            font-size: 1.1rem;
            margin-bottom: 5px;
          }

          .user__email {
            font-size: 0.9rem;
          }
        }

        .user__menu-icon {
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 15px;
          height: 15px;
          padding: 5px;
          top: 10px;
          right: 10px;
          cursor: pointer;

          &:hover {
            background-color: $bg-gray-100;
          }
        }

        .user__menu-items {
          column-gap: 5px;
          position: absolute;
          right: 10px;
          top: 35px;
          padding: 4px 6px;
          background-color: $bg-gray-50;
          box-shadow: $card-shadow;
          border-radius: 5px;

          .user__menu-edit {
            font-size: 14px;
            width: 25px;
            height: 25px;
            padding: 5px;
            border-radius: 50%;

            &:hover {
              background-color: $bg-gray-200;
            }
          }

          .user__menu-delete {
            font-size: 16px;
            width: 25px;
            height: 25px;
            padding: 5px;
            border-radius: 50%;

            &:hover {
              background-color: $bg-gray-200;
            }
          }

          &.hidden {
            display: none;
          }
        }
      }
    }
  }
}
