:root[color-theme='light'] {
  --color-background: #f2f2f2;
  --color-text: #1a1a1a;
  --color-text-30: rgba(26, 26, 26, 0.3);
  --color-text-10: rgba(26, 26, 26, 0.1);
}

:root[color-theme='dark'] {
  --color-background: #1a1a1a;
  --color-text: #fff;
  --color-text-30: rgba(255, 255, 255, 0.3);
  --color-text-10: rgba(255, 255, 255, 0.1);
}

:root {
  --color-black: #1a1a1a;
  --color-white: #fff;
  --color-white-80: rgba(255, 255, 255, 0.8);
  --color-white-50: rgba(255, 255, 255, 0.5);

  --color-highlight: #eb4c78;
  --color-warning: #ce342e;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--color-background);
  color: var(--color-text);
}

ul {
  list-style: none;
}

/* HEADER */
header {
  box-sizing: border-box;
  padding: 0 1.8em;
}

header .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .top .title {
  color: var(--color-highlight);
}

header .top .btns {
  gap: 10px;
  display: flex;
  justify-content: center;
}

header .top .btns .btn {
  border: none;
  background-color: transparent;
  text-align: center;
}

header .top .btns .btn:hover {
  cursor: pointer;
  background-color: var(--color-text-10);
}

header .top .btns .toggle {
  --width: 46px;
  width: var(--width);
  height: var(--width);
  border-radius: 50%;
  color: var(--color-text);
}

header .top .btns .add {
  padding: 6px 14px;
  color: var(--coloor-text);
  border: var(--color-text) solid 2px;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 700;
  transition: background-color 0.5s;
}

header .top .btns .add:hover {
  border: var(--color-highlight) solid 2px;
  background-color: var(--color-highlight);
  color: var(--color-white);
}

@media (max-width: 960px) {
  header .top {
    flex-direction: column;
    margin-bottom: 2rem;
  }
  header .top .btns {
    align-self: flex-end;
  }
}

@media (max-width: 720px) {
  header .top .title {
    font-size: 24px;
  }

  header .top .btns {
    width: 100%;
    justify-content: space-between;
  }

  header .top .btns .add {
    padding: 0 7px;
    font-size: 14px;
  }
}

/* CATEGORY */
.category {
  padding: 2rem;
  display: flex;
  align-items: center;
  height: 20px;
}

.category .btn {
  background-color: transparent;
  border: none;
  font-size: 20px;
  color: var(--color-text);
  margin-right: 1rem;
}

.category .btn.active::after {
  content: '';
  display: block;
  border: solid var(--color-highlight) 2px;
}

.category .btn:hover {
  cursor: pointer;
}

.category .dropdown {
  font-size: 20px;
}

.category .dropdown .selected {
  background-color: var(--color-white-50);
  padding: 0.1rem 1rem;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category .dropdown .selected:hover {
  cursor: pointer;
}

.category .dropdown .options.hide {
  display: none;
}

.category .dropdown .options {
  padding: 0;
  position: absolute;
  display: block;
  text-align: center;
  line-height: 1.7;
  background-color: var(--color-white-80);
  z-index: 9;
}

.category .dropdown .options li {
  display: block;
  padding: 0.5rem 1rem;
  width: 5em;
  color: var(--color-black);
  border-bottom: solid var(--color-text-10) 2px;
}

.category .dropdown .options li:hover {
  color: var(--color-highlight);
  cursor: pointer;
}

@media (max-width: 720px) {
  .category {
    padding: 1rem 2rem;
  }

  .category .btn,
  .category .dropdown {
    font-size: 16px;
  }
}

/* CARD LIST */
.cards {
  margin: 0 auto 100px;
  width: 100%;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.cards .card {
  position: relative;
  margin: 1rem;
  padding: 3rem 0;
  background-color: var(--color-white-50);
  box-shadow: var(--color-text-10) 0px 4px 16px 0px;
  border-radius: 4px;
  min-width: calc(25% - 2rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s;
  font-size: 16px;
}

.cards .card:hover {
  cursor: pointer;
  transform: translateY(-10px);
  box-shadow: var(--color-text-30) 0px 14px 26px 0px;
}

@media (max-width: 1100px) {
  .cards {
    max-height: 75vh;
    overflow-y: scroll;
    justify-content: center;
  }
}

/* CARD ITEM */
.card .card_photo {
  --width: 160px;
  width: var(--width);
  height: var(--width);
  border: var(--color-highlight) solid 0.5em;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 2rem -1px;
}

.card .card_photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .card_info {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1;
  font-weight: 400;
  font-size: 20px;
  color: var(--color-black);
}

.card .card_info .info_name {
  font-weight: 700;
  font-size: 20px;
}

.card .card_info .info_phone {
  margin-bottom: -1px;
}

.card .card_info .info_email {
  margin-bottom: -1px;
}

.card .card_info .info_department {
  margin-bottom: -1px;
}

@media (max-width: 720px) {
  .card .card_photo {
    --width: 100px;
    margin: 0 4rem -1px;
  }

  .card .card_info {
    font-size: 14px;
  }
}

.card .delete {
  display: none;
  --width: 46px;
  height: var(--width);
  width: var(--width);
  position: absolute;
  top: 3%;
  right: 3%;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  color: var(--color-warning);
  font-size: 30px;
}

.card .delete:hover {
  cursor: pointer;
  background-color: var(--color-text-10);
}

.card:hover .delete {
  display: block;
}

/* FOOTER */
footer {
  width: 85%;
  text-align: center;
  margin: 3rem auto;
  padding: 4rem 0 0;
  font-size: 16px;
  border-top: var(--color-text-10) solid 1px;
}

footer .github {
  color: var(--color-text);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: font-size 0.1s;
}

footer .github:hover {
  font-size: 17px;
  opacity: 0.6;
}

footer .copyright {
  color: var(--color-text-30);
}

/* MODAL */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--color-text-30);
  backdrop-filter: blur(3px);
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal .modal_container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem;
  width: 40%;
  height: 50%;
  background-color: var(--color-background);
  border-radius: 20px;
}

.modal .modal_container .remove {
  --width: 46px;
  height: var(--width);
  width: var(--width);
  position: absolute;
  top: 3%;
  right: 3%;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  color: var(--color-warning);
  font-size: 30px;
}

.modal .modal_container .remove:hover {
  cursor: pointer;
  background-color: var(--color-text-10);
}

.modal .modal_container .info {
  width: 100%;
  display: grid;
  grid-template-columns: 0.8fr 1.2fr;
  gap: 20px;
  overflow: hidden;
}

.modal .modal_container .info .info_img {
  width: 100%;
  height: 100%;
  margin-right: 2rem;
  overflow: hidden;
  border-radius: 14px;
}

.modal .modal_container .info .info_img .img_upload {
  position: absolute;
  top: 4rem;
  left: 4rem;
  font-size: 12px;
  color: var(--color-text);
  border: #1a1a1a 1px solie;
}

.modal .modal_container .info .info_img .img_upload span:hover {
  cursor: pointer;
  color: var(--color-highlight);
}

.modal .modal_container .info .info_img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.modal .modal_container .info .info_txt {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  overflow: hidden;
}

.modal .modal_container .info .info_txt * {
  background-color: transparent;
  color: var(--coloor-text);
  padding: 0.7rem;
  border: none;
  border-bottom: var(--color-text-30) solid 2px;
  display: block;
  width: 100%;
  font-size: 16px;
}

.modal .modal_container .info .info_txt *:focus {
  outline: none;
  border-bottom: var(--color-highlight) solid 2px;
}

.modal .modal_container .save {
  margin-top: 2rem;
  width: 100%;
  border: none;
  font-size: 14px;
  font-weight: 700;
  padding: 1rem;
  border-radius: 40px;
  background-color: var(--color-highlight);
  color: var(--color-white);
  transition: opcity 0.1s;
}

.modal .modal_container .save:hover {
  cursor: pointer;
  opacity: 0.7;
}

@media (max-width: 960px) {
  .modal .modal_container {
    width: 60%;
    height: 70%;
  }
  .modal .modal_container .info .info_txt * {
    font-size: 12px;
  }
}

@media (max-width: 720px) {
  .modal .modal_container {
    width: 70%;
    height: 80%;
  }

  .modal .modal_container .info {
    display: flex;
    flex-direction: column;
  }
  .modal .modal_container .info .info_img {
    margin: auto;
    height: 60%;
    width: 60%;
  }
}

@media (max-width: 600px) {
  .modal .modal_container {
    width: 90%;
    height: 90%;
  }

  .modal .modal_container .remove {
    top: 5%;
  }
}

/* EMPTY LIST*/

.cards .empty {
  background-color: var(--color-text-10);
  width: 90%;
  margin: 1rem auto;
  text-align: center;
  padding: 2rem;
  border-radius: 4px;
}
