html{
  font-size: 32px;
}

body{
  line-height: 1.5;
  word-break: keep-all;
}

.btn{
  height: 50px;
  width: 60px;
  border-radius: 5px;
}

.btn:hover{
  opacity:0.7
}

.hide{
  display:none;
}

.container{
  width: 92%;
  max-width: 1100px;
  padding: 50px 0;
  margin: 0 auto;
}

.headline{
  padding-top:100px;
  margin: 0 auto;
}

.headline h1{
  font-size: 2rem;
  text-align: center;
  margin-bottom: 50px;
}

.headline h2{
  font-size: 1rem;
  text-align: center;
  margin-bottom: 50px;
}

.search{
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.search input{
  flex-grow: 1;
  height: 50px;
  border-radius: 5px;
  padding: 0 20px;
  outline: none;
}

.search input::placeholder{
  color:grey
}

.search .btn-wrap{
  display: flex;
  align-items: center;
  gap: 10px;
}

.champions{
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;

}

.champion{
  position: relative;
  width: 200px;
  height: 300px;
  background-repeat: no-repeat;
  font-size: 20px;
  border-radius: 10px;
}

.iconwrap{
  display:flex;
  justify-content: space-between;
}

.info{
  position: absolute;
  bottom: 0;
  left:0;
  width:100%;
  height: 70px;
  box-sizing: border-box;
  background-color: rgba(14,17,27,.3);
  backdrop-filter: blur(10px);
  text-align: center;
  color: white;
}

.info h1{
  font-size: 1em;
}

.info h2{
  font-size: 0.8em;
}

.icon{
  height: 40px;
  cursor:pointer;
}

.info-div{
  display: none;
  position:absolute;
  top: -40px;
  background-color: rgba(0,0,0,0.5);
  color: white;
}

.icon:hover + .info-div{
  display: block;
}
