* {
    letter-spacing: 1px;
}
a {
    text-decoration: none;
}
html {
    font-family: 'Harry Potter', sans-serif;
    cursor: url(/icon/cursor50-brown.png), auto;
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}


/****** Nav ******/
/* nav {
    
} */
nav .menubar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 20vw;
    min-width: 180px;
    height: 100vh;
    background: linear-gradient(to bottom, #000000, #001F3F);
}
nav .menubarTop {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
nav .menubarTop .logo {
    width: 80%;
    cursor: url(/icon/cursor50-brown-pointer.png),pointer;
}
nav .menubarMid {
    width: 100%;
    height: 100%;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
}
nav .menubarMid .HpText > a {
    display: block;
    width: 100%;
    color: white;
    font-size: 1.5rem;
    margin: 0;
    padding: 1.5rem 0;
    letter-spacing: 10px;
    text-align: center;
}
.HpText a:hover {
    background: linear-gradient(200deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.3));
    cursor: url(/icon/cursor50-brown-pointer.png),pointer;
}
nav .menubarBot {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
}

/******Main******/
main .container{
    width: 80vw;
    height: 100vh;
}
.rolesBg {
    background-image: url('/image/historyBg.png');
    background-size: cover;
    background-position: center;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(2, 1, 5, 0.7)
}

.rolesBox {
    border-radius: 10px;
    padding: 20px;
    max-width: 600px;
}
.rolesBox ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.rolesBox li {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
}
.rolesBox .title {
    display: flex;
    color: darkred;
    justify-content: center;
}
.rolesBox li img {
    float: left;
    width: 100px;
    height: 150px;
    object-fit: bottom;
    margin: 10px;
    border: 2px solid #001F3F;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background-color: rgb(224, 215, 203);
}