$breakpoint-tablet: 800px;
$breakpoint-desktop: 1200px;

@mixin mobile {
    @media (max-width: #{$breakpoint-tablet - 1px}) {
        @content;
    }
}
  
@mixin tablet {
    @media (max-width: #{$breakpoint-desktop - 1px}) {
        @content;
    }
}


@include tablet {
    html {font-size: 14px;}
    .wrap {
        .container {
            &__head {
                flex-direction: column;
                gap:1.6rem;
                margin:1.5rem 0 0.8rem;

                .head-inner {


                    &--right{

                        justify-content: end;
                    }

                }

                .search {
                    width: 100%;
                    
                    &__container {
                        width: 100%;
                    }
                }
            }
        }
        .nav.close {

            .nav__control a{
                width: 3rem;
            }

            .nav__list a  {
                width: 3.5rem;
            }
        }
    }

    .table {
        .phone {
            display: none;
        }
    }

}


@include mobile {


}