*{
    margin: 0px;
    padding: 0px;
}

ul,ol{
    list-style: none;
}

a{
    text-decoration: none;
}

a:active,
a:hover {
  outline: none;
}

html {
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
    background-color: #fff;
    color: #4d5058;
  }