@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css");

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background: #ebecf0;
    width: 100%;
}

.create_container {
    margin : 0 auto;
    
}

.header {
    display : flex;
    flex-direction: row-reverse;
    margin-top : 60px;
}

.back_container {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 50px;

}
#back_btn {
    width : 25px;
    height : 25px;
    display : relative;
    margin: auto 5px;
    
}

#back_label {
    color: #4D76C1;
    font-size: .85em;
    margin: auto 0;

}
.title {
    font-size: 2.5em;
    position: relative;
    color: #4D76C1;
    margin: 0 auto;
    text-align: center;
    max-width : 1280px;
}

.info_container {
    border-radius: 10px;
    box-shadow: -5px -5px 10px #fff, 5px 5px 10px #babebc;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 80px auto;
    width: 700px;
    height : 400px;
    background: #ebecf0;
    padding: 10px 30px;
    position: relative;

}
.info_profile {
    position: relative;
    background-color: #aaaaaa88;
    width: 200px;
    height: 220px;
    background-clip: content-box;
    margin : auto 40px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    border-radius: 5px;
}

#profile_img {
    width: 170px;
    height: 180px;
    position: relative;    

}

form {
    background: #ebecf0;
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    justify-content: center;
    align-items: center;

}
form input {
    background: #eee;
    padding: 16px;
    margin: 13px 0;
    width: 100%;
    border: 0;
    outline: none;
    border-radius: 20px;
    box-shadow: inset 7px 2px 10px #babebc, inset -5px -5px 12px #fff;}
button {
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 12px;
    font-weight: bold;
    padding: 15px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    transition: transform 80ms ease-in;
    position: relative;
    right: -70%;
}
.form_btn {
    box-shadow: -5px -5px 10px #fff, 5px 5px 8px #babebc;
}
.form_btn:active {
    box-shadow: inset 1px 1px 2px #babebc, inset -1px -1px 2px #fff;
}

.info_profile label{
    display: inline-block;
    position: absolute;
    left : auto;
    bottom: -50px;
    padding: .5em .75em;
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    transition: transform 80ms ease-in;
    box-shadow: -5px -5px 10px #fff, 5px 5px 8px #babebc;
    margin-top : 10px;
    
}

.info_profile input[type="file"] {  /* 파일 필드 숨기기 */
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip:rect(0,0,0,0);
        border: 0;
}
.info {
    position : relative;
    width: 300px; 
    margin : 30px 50px;

}
.info_contents{
    margin : 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.btn_container {
    max-width: 1280px;
    text-align: end;
    padding: 0 80px;
}

.submit_btn{
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 900;
    font-style: normal;
    text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
    text-decoration: none;
    background: transparent;
    cursor: pointer;
    position: relative;
    display: inline-block;
    box-shadow: inset 0px 1px 0px rgba(255,255,255,1),0px 1px 3px rgba(0,0,0,0.3);
    outline: none;
    border: 1px solid #ba6;
    backface-visibility: hidden;
    border-color: #7c7c7c;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.25)), to(#e6e6e6));
  }

  .submit_btn:active{
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }