
body {
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    background: #ebecf0;
    width: 100%;
}

.create_container {
    margin : 0 auto;
    
}

.header {
    display : flex;
    flex-direction: row-reverse;
    margin-top : 60px;
}

.back_container {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 50px;

}
#back_btn {
    width : 25px;
    height : 25px;
    display : relative;
    margin: auto 5px;
    
}

#back_label {
    color: #4D76C1;
    font-size: .9em;
    margin: auto 0;
    font-weight: bolder;

}
.title {
    font-size: 2.5em;
    position: relative;
    color: #4D76C1;
    margin: 0 auto;
    text-align: center;
    max-width : 1280px;
    font-weight: 700;
}

.info_container {
    border-radius: 10px;
    box-shadow: -5px -5px 10px #fff, 5px 5px 10px #babebc;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 80px auto;
    width: 700px;
    height : 400px;
    background: #ebecf0;
    padding: 10px 30px;
    position: relative;

}
.info_profile {
    position: relative;
    background-color: #aaaaaa88;
    width: 200px;
    height: 220px;
    background-clip: content-box;
    margin : auto 40px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    border-radius: 5px;
}

#profile_img {
    width: 170px;
    height: 180px;
    position: relative;    

}

form {
    background: #ebecf0;
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    justify-content: center;
    align-items: center;

}
form input {
    background: #eee;
    padding: 16px;
    margin: 13px 0;
    width: 194px;
    border: 0;
    outline: none;
    border-radius: 20px;
    box-shadow: inset 7px 2px 10px #babebc, inset -5px -5px 12px #fff;}
button {
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 12px;
    font-weight: bold;
    padding: 15px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    transition: transform 80ms ease-in;
    position: relative;
    right: -70%;
}
.form_btn {
    box-shadow: -5px -5px 10px #fff, 5px 5px 8px #babebc;
}
.form_btn:active {
    box-shadow: inset 1px 1px 2px #babebc, inset -1px -1px 2px #fff;
}

.info_profile label{
    display: inline-block;
    position: absolute;
    left : auto;
    bottom: -50px;
    padding: .5em .75em;
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    transition: transform 80ms ease-in;
    box-shadow: -5px -5px 10px #fff, 5px 5px 8px #babebc;
    margin-top : 10px;
    
}

.info_profile input[type="file"] {  /* 파일 필드 숨기기 */
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip:rect(0,0,0,0);
        border: 0;
}
.info {
    position : relative;
    width: 300px; 
    margin : 30px 50px;

}
.info_contents{
    margin : 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
}
.form{
    display : flex;
    align-items: center;
    width: 301px;
}
.form label {
    margin: 5px;
    width: 65px;
    font-size: 0.85em;
    font-weight: 700;
}
.btn_container {
    max-width: 1280px;
    text-align: end;
    padding: 0 80px;
}


/*loading bar style*/
.background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #7c7c7c88;
    z-index: 1;
    margin: 0;
    top: 0;
    display: none;
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    display: none;
}
.loading span {
    position: relative;
    top: 6px;
    display: inline-block;
    animation: bounce .3s ease infinite alternate;
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    color: #4D76C1;
    text-shadow: 0 1px 0 #CCC,
                0 2px 0 #CCC,
                0 3px 0 #CCC,
                0 4px 0 #CCC,
                0 5px 0 #CCC,
                0 6px 0 transparent,
                0 7px 0 transparent,
                0 8px 0 transparent,
                0 9px 0 transparent,
                0 10px 10px rgba(0, 0, 0, .4);
}

.loading span:nth-child(2) { animation-delay: .1s; }
.oading span:nth-child(3) { animation-delay: .2s; }
.loading span:nth-child(4) { animation-delay: .3s; }
.loading span:nth-child(5) { animation-delay: .4s; }
.loading span:nth-child(6) { animation-delay: .5s; }
.loading span:nth-child(7) { animation-delay: .6s; }
.loading span:nth-child(8) { animation-delay: .7s; }

@keyframes bounce {
    100% {
    top: -6px;
    text-shadow: 0 1px 0 #CCC,
                    0 2px 0 #CCC,
                    0 3px 0 #CCC,
                    0 4px 0 #CCC,
                    0 5px 0 #CCC,
                    0 6px 0 #CCC,
                    0 7px 0 #CCC,
                    0 8px 0 #CCC,
                    0 9px 0 #CCC,
                    0 50px 25px rgba(0, 0, 0, .2);
    }
}
