body {
    background: #ebecf0;
    margin: 0;
}
.container {
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-items: stretch;
    
}
.logo {
    max-width: 1280px;
    color: #4D76C1;
    font-size: 3.5em;
    font-family: 'Pacifico', cursive;
    margin :20px 40px 0;
    cursor : pointer;
    position: relative;


}


.detail_container {
    border-radius: 10px;
    margin: 40px auto;
    background: #ebecf0;
    padding: 20px 40px;
    box-shadow: -5px -5px 10px #fff, 5px 5px 10px #babebc;
}
.btn_container {
    margin: 40px 0;
    position: relative;
    max-width: 1000px;
    display: flex;
    justify-content: end;
    padding: 0 80px;

}

.edit_btn {
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 13px;
    font-weight: bold;
    padding: 15px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    transition: transform 80ms ease-in;
    box-shadow: -5px -5px 10px #fff, 5px 5px 8px #babebc;

}
.edit_btn:active {
    box-shadow: inset 1px 1px 2px #babebc, inset -1px -1px 2px #fff;
}
.title_container {
    display: flex;
    justify-content: space-between;
}

.title {
    padding: 0 20px;
    color: #4D76C1;
    font-size: 2em;
    font-family: 'Roboto Condensed', sans-serif;
    margin-left: 40px;
    letter-spacing: 3px;
}
.icon {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    padding:0 50px;

}
.icon > span:first-child{
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color:#7c7c7c88 ;
    margin-right: 5px;
}
.icon > span:nth-child(2){
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color:#32CD32 ;
    margin-right: 5px;
}
.icon span:last-child {
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color:#FF000088;
}

.info_container {
    display: flex;
    max-width: 1000px;
    justify-content: space-between;
    padding: 0 20px;
    margin: 0 auto;

}

.info_items {
    margin : 40px 20px;
    
}
.detail_info {
    display : flex;
}
.name, .email, .phoneNum {
    font-size: 1em;
    font-family: 'Lato', sans-serif;
    letter-spacing: .8px;
    font-weight: 300;
    margin: auto 30px;
    width: fit-content;
    text-overflow: clip;


}

.detail_info > p{
    font-size: 1em;
    font-weight: 600;
    width:100px;
    letter-spacing: 1px;
    font-family: 'Roboto Condensed', sans-serif;

}

.profile {
    width : 200px;
    height : 210px;
    margin: 0 20px;
    border-radius: 10px;
}