.container {
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-items: stretch;
}
.logo {
    max-width: 1280px;
    color: #4D76C1;
    padding-left: 20px;
    font-size: 3.5em;
    font-family: 'Pacifico', cursive;
    padding: 0 20px;
    margin: 0;
    cursor : pointer;

}


.detail_container {
    max-width: 1200px;
    border-radius: 30px;
    margin: 40px auto;
    box-shadow: 5px 5px 5px rgb(77, 118, 193, 0.2);
}
.btn_container {
    margin: 40px 0;
    position: relative;

}

.edit_btn {
    
    width: 100px;
    height: 30px;
    color: #fff;
    border-radius: 5px;
    padding: auto 10px;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    font-weight: 700;
    font-style: normal;
    text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
    text-decoration: none;
    background: transparent;
    cursor: pointer;
    position: absolute;
    right: 20px;
    display: inline-block;
    box-shadow: inset 0px 1px 0px rgba(255,255,255,1),0px 1px 3px rgba(0,0,0,0.3);
    outline: none;
    border: 1px solid #ba6;
    backface-visibility: hidden;
    border-color: #7c7c7c;
    background: linear-gradient(180deg,#e6e6e6 0%,rgba(0, 0, 0, 0.25) 49%, rgba(38, 38, 38, 0.6) 51%,rgba(0, 0, 0, 0.25) 100%); 
}

.title_container {
    display: flex;
    justify-content: space-between;
}

.title {
    padding: 0 20px;
    color: #4D76C1;
    font-size: 2em;
    font-family: 'Roboto Condensed', sans-serif;
    margin-left: 40px;
    letter-spacing: 3px;
}
.icon {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    padding:0 50px;

}
.icon > span:first-child{
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color:#7c7c7c88 ;
    margin-right: 5px;
}
.icon > span:nth-child(2){
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color:#32CD32 ;
    margin-right: 5px;
}
.icon span:last-child {
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color:#FF000088;
}

.info_container {
    display: flex;
    max-width: 1000px;
    justify-content: space-between;
    padding: 0 20px;
    margin: 0 auto;

}

.info_items {
    margin : 40px 20px;
    
}
.detail_info {
    display : flex;
}
.name, .email, .phoneNum {
    font-size: 1em;
    
    font-weight: 300;
    margin: auto 30px;
    width: fit-content;
    text-overflow: clip;


}

.detail_info > p{
    font-size: 1em;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    width:100px;

}

.profile {
    width : 200px;
    height : 210px;
    margin: 0 20px;
    border-radius: 10px;
}