* {
  box-sizing: border-box;
}

html {
  font-size: 14px;

  --color-white: #ffffff;
  --color-black: #000000;
  --color-black-hover: #292929;
  --color-light-gray: #f2f2f2;
  --color-gray: #d3d3d3;
  --color-gray-hover: #bdbebd;
  --color-darkgray: #808080;
  --color-red: #d22e2e;
  --color-red-hover: #e61919;
  --color-blue: #3ea6ff;
}

body {
  margin: 0;
  padding: 0;
}

main {
  padding: 1.5rem;
}

h1,
h2 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;

  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

@media only screen and (min-width: 769px) {
  html {
    font-size: 16px;
  }
}

@media only screen and (min-width: 1025px) {
  main {
    width: 1000px;
    margin: 30px auto;
    padding: 0;
  }
}
