.header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 5rem;
  padding: 0 3rem;
  font-weight: 600;
  font-size: 2rem;
  background-color: white;
  border-bottom: 1px solid lightgray;
}

#header-title {
  text-decoration: none;
  color: black;
}
#header-title:hover {
  color: #a0d4fa;
  transition: 0.3s;
}
