.header-container {
  position: sticky;
  top: 0;

  width: 100%;
  padding: 0.9375rem 1.5rem;

  z-index: 100;
  background-color: var(--color-white);

  transition: 0.3s;
}

.shadow {
  box-shadow: 0px 0px 15px -2px gray;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-size: 1.875rem;
  line-height: 2.5rem;
  font-weight: bold;
}

.btn {
  border: none;
  height: 1.875rem;
  padding: 7px 9px;

  font-size: 0.8125rem;
  line-height: 1.0625rem;
}

.regist {
  background-color: var(--color-black);
  color: var(--color-white);
}

.regist:hover {
  background-color: var(--color-black-hover);
}

#deleteBtn:disabled {
  cursor: not-allowed;
}

@media only screen and (min-width: 1025px) {
  .header-nav {
    width: 1000px;
    margin: 0 auto;
  }
}
