.list-container {
  display: flex;
  gap: 1.25rem;
  flex-wrap: wrap;
  margin-bottom: 4.3rem;
}

.list-box {
  width: 50%;
  padding: 1rem;
  border: 1px solid #dedede;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.6rem;
}

.profile-box {
  width: 8rem;
  height: 8rem;
  overflow: hidden;
  margin: 0 auto;
  border: 1px solid #dedede;
  border-radius: 100%;
  display: flex;
  justify-content: center;
}

.profile-img {
  height: 100%;
}

.user-name {
  font-size: 1rem;
  font-weight: bold;
}

@media only screen and (max-width: 348px) {
  .list-box {
    width: 100%;
  }
}

@media only screen and (min-width: 769px) {
  .list-box {
    width: 30%;
  }
}

@media only screen and (min-width: 1081px) {
  .list-box {
    width: 23%;
  }
}
