#home {
  position: relative;
  min-height: 100vh;
}

.title {
  padding: 3rem;
}

.control-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  margin: 1rem;
  font-size: large;
  font-weight: 500;
}

#modal {
  position: absolute;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  visibility: hidden;
}

.enroll-form {
  display: flex;
  width: 50%;
  min-width: 400px;
  height: 40%;
  padding: 3rem;
  border-radius: 0.5rem;
  position: absolute;
  top: 20%;
}

.enroll-form__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 1rem 0;
  padding: 1rem 0;
}

.enroll-form__photoBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 45%;
  height: 100%;
  margin: 0 0.5rem;
  border: 1px dashed gray;
  border-radius: 0.3rem;
}

.photo-input__label {
  margin: 1rem 0;
  text-align: center;
  padding: 0.7rem 0;
  width: 65%;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: black;
  color: white;
  font-size: large;
  font-weight: 500;
}
.photo-input__label:hover {
  color: #a0d4fa;
  transition: all 0.3s;
}

#photo-input {
  visibility: hidden;
}

#preview {
  max-width: 70%;
  max-height: 60%;
  margin: 2rem;
  border-radius: 0.5rem;
}

.enroll-form__inputBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  height: 100%;
  margin: 0 0.5rem;
}

.enroll-form__inputBox > button {
  font-size: large;
  font-weight: 700;
}

@media (max-width: 1200px) {
  .enroll-form {
    height: 70%;
    top: 10%;
  }
  .enroll-form__container {
    flex-direction: column;
    height: auto;
    justify-content: flex-start;
  }
  .enroll-form__photoBox {
    width: 75%;
    height: 40%;
    margin-bottom: 2rem;
  }
  .enroll-form__inputBox {
    width: 70%;
    height: 50%;
  }
  .enroll-form__inputBox > input {
    margin-bottom: 0.5rem;
    height: 100%;
  }
  .enroll-form__inputBox > label {
    margin-top: 0.5rem;
  }
  .enroll-form__inputBox > button {
    margin: 0.5rem 0;
  }
}

.member-info {
  display: table;
  width: 100%;
  margin: 1rem 0;
}

.member-info__header {
  display: table-row;
  width: 100%;
  font-size: 1.3rem;
  font-weight: 500;
}

.member-info__header > div {
  display: table-cell;
  padding: 1em;
  border-right: 1px solid gray;
}

.member-info__header :nth-last-child(1) {
  border: none;
}

.member-info__main {
  display: table-row;
  width: 100%;
  position: relative;
  font-size: 1.3rem;
  font-weight: 500;
}

.member-info__main:hover {
  opacity: 0.7;
  background-color: ghostwhite;
  font-weight: 900;
  font-size: large;
  transition: all 0.5s;
}

.member-info__main > div {
  display: table-cell;
  padding: 1rem;
  vertical-align: middle;
  cursor: pointer;
}

.member-info__img {
  width: 25%;
}
.member-info__name {
  width: 15%;
}
.member-info__phone {
  width: 15%;
}
.member-info__email {
  width: 15%;
}
.member-info__position {
  width: 10%;
}

.member-info__photo {
  width: auto;
  height: 200px;
  border-radius: 0.3rem;
}
.member-info__photo:hover {
  border-radius: 1rem;
  transition: all 0.5s;
}

@media (max-width: 1000px) {
  .member-info__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
  }
  .member-info__header {
    display: none;
  }
  .member-info__main > div {
    display: block;
    width: 80%;
    min-width: 400px;
    height: auto;
    text-align: center;
    background-color: azure;
    border-radius: 0.3rem;
  }
  .member-info__photo {
    object-fit: cover;
  }
}
