.navbar{
    border-bottom: 1px solid black;
    background-color: #E6002D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
}

.navbar-title-wrapper{
    font-size: 1.5rem;
    color: #fff;
}

.navbar-anchor-wrapper{
    display: flex;
    justify-content: space-between;
    width: 12rem;
    font-size: 1.2rem;
}

.navbar-anchor{
    color: #fff;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.navbar-anchor:hover{
    color: #fff;
    background-color: #B40028;
}

