.regist-form {
  display: flex;
  flex-direction: column;
}

.regist-label {
  font-size: 1.125rem;
  margin-bottom: 0.625rem;
}

#avatarBox,
.regist-text-input {
  border: 1px solid #dedede;
  border-radius: 5px;
}

#profilePic {
  width: 21.875rem;
  height: 21.875rem;
  z-index: 10;
  position: absolute;
  left: 0;
  padding: 0.625rem;
}

.input-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1.875rem;
}

#avatarBox {
  position: relative;
  overflow: hidden;
  width: 21.875rem;
  height: 21.875rem;
  display: flex;
  justify-content: center;
  border-radius: 5px;
}

.avatar-label,
.img-remove-btn {
  position: absolute;
  top: 0.9375rem;
  padding: 4px 6px;

  border: 0;
  border-radius: 5px;

  background-color: #d3d3d3;

  cursor: pointer;
  z-index: 15;
}

.avatar-label {
  left: 0.9375rem;
}
.avatar-label:hover {
  background-color: #bdbebd;
}

.avatar {
  width: auto;
  height: 100%;
  z-index: 0;
}

.img-remove-btn {
  right: 0.9375rem;
  background-color: #d22e2e;
  color: white;
}

.img-remove-btn:hover {
  background-color: #e61919;
}

.regist-text-input {
  height: 2.5rem;
  padding: 0 0.625rem;
  margin-bottom: 1.875rem;
}

.modify-btn-container {
  display: flex;
  gap: 10px;
}

.submit-btn,
.cancel-btn {
  width: 100%;
  background-color: #000000;
  border: none;
  border-radius: 5px;
  height: 2.8125rem;
  color: white;
  font-size: 1.125rem;
}

.submit-btn:hover {
  background-color: #292929;
}

.cancel-btn {
  background-color: #666666;
}

.cancel-btn:hover {
  background-color: #808080;
}

@media only screen and (min-width: 769px) {
  .regist-form {
    flex-direction: row;
  }

  .input-box {
    margin-bottom: 0;
  }
}
