.modify {
  background-color: var(--color-black);
  color: var(--color-white);
}

.modify:hover {
  background-color: var(--color-black-hover);
}

.regist-form {
  display: flex;
  flex-direction: column;
}

.regist-label {
  font-size: 1.125rem;
  margin-bottom: 0.625rem;
}

#avatarWrapper,
.regist-text-input {
  border: 1px solid var(--color-gray);
  border-radius: 5px;
}

#profilePic {
  width: 21.875rem;
  height: 21.875rem;
  padding: 0.625rem;

  z-index: -1;

  position: absolute;
  left: 0;
}

.input-wrapper {
  display: flex;
  flex-direction: column;

  width: 100%;
  margin-bottom: 1.875rem;
}

#avatarWrapper {
  position: relative;
  overflow: hidden;

  width: 21.875rem;
  height: 21.875rem;

  display: flex;
  justify-content: center;

  border-radius: 5px;

  background-color: var(--color-white);
}

.avatar-label,
.img-remove-btn {
  position: absolute;
  top: 0.9375rem;
  padding: 4px 6px;

  border: 0;
  border-radius: 5px;

  background-color: var(--color-gray);

  cursor: pointer;
  z-index: 15;
}

.avatar-label {
  left: 0.9375rem;
}
.avatar-label:hover {
  background-color: var(--color-gray-hover);
}

.avatar {
  width: auto;
  height: 100%;
  z-index: 0;
}

.img-remove-btn {
  right: 0.9375rem;
  background-color: var(--color-red);
  color: var(--color-white);
}

.img-remove-btn:hover {
  background-color: var(--color-red-hover);
}

.regist-text-input {
  height: 2.5rem;
  padding: 0 0.625rem;
  margin-bottom: 1.875rem;
}

.submit-btn {
  width: 100%;
  height: 2.8125rem;

  background-color: var(--color-black);

  border: none;
  border-radius: 5px;

  color: var(--color-white);
  font-size: 1.125rem;
}

.submit-btn:hover {
  background-color: var(--color-black-hover);
}

@media only screen and (min-width: 769px) {
  .regist-form {
    flex-direction: row;
  }

  .input-wrapper {
    margin-bottom: 0;
  }
}
