.skeleton {
  border: 0;
  color: rgba(0, 0, 0, 0);
  background-image: linear-gradient(
    100deg,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.1)
  );
  background-size: 400% 100%;
  animation: skeleton-loading 7s linear infinite;
}

@keyframes skeleton-loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.regist-label {
  width: 30%;
}

.skeleton-img {
  margin: 0 auto;
  width: 8.125rem;
  height: 8.125rem;
  border-radius: 100%;
}

.skeleton-grade {
  width: 3.125rem;
  height: 1.6875rem;
  border-radius: 5px;
}

.skeleton-name,
.skeleton-email,
.skeleton-phone {
  width: 9.375rem;
  height: 1.125rem;
}
