.header {
  display: flex;
  font-family: "Noto Light", sans-serif;
  align-items: center;
  padding: 10px;
}
.nav {
  padding: 10px;
  display: flex;
}
.nav-btn1,
.nav-btn2 {
  background-color: rgba(21, 79, 195, 0.904);
  color: white;
}
.search-img {
  width: 30px;
  height: 30px;
  margin-left: 30px;
}

.search-div {
  display: flex;
  align-items: center;
}
.profile-container {
  display: flex;
  width: 100;
}
.profile-info {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}
.profile-container input {
  margin: 10px;
}

.employee {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 10px;
  border-bottom: 0.5px solid gray;
}

.p-img,
.p-name,
.p-email,
.p-phone,
.p-category {
  margin: 20px;
}

/* desktop 규격 */
@media screen and (min-width: 1024px) {
  body {
  }
}

/* tablet 규격 */
@media screen and (max-width: 1023px) {
  .profile-info {
    flex-basis: calc(50% - 50px); /* 두 개의 요소가 한 줄에 배치되도록 설정 */
    margin: 10px;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid lightgray;
  }
  .employee {
    flex-basis: 100%; /* 두 개의 요소가 한 줄에 배치되도록 설정 */
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #ccc;
  }
}

#loading {
  width: 20px;
  height: 20px;
}

/* 스타일 추가 */
#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 흐려진 배경색과 투명도 설정 */
  display: none;
  justify-content: center;
  align-items: center;
}

#loading img {
  width: 200px; /* 로딩 이미지의 최대 너비 설정 */
  height: 200px;
}

.calender {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.logo {
  width: 150px;
  height: 130px;
}

.logo {
  /* 이미지의 초기 위치 설정 */
  position: relative;
  top: 0;

  /* 애니메이션 설정 */
  animation: updown 4s infinite; /* 3초 간격으로 반복 */
}

/* @keyframes를 사용하여 애니메이션 세부 설정 */
@keyframes updown {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: -10px; /* 이미지를 오른쪽 끝까지 이동 */
  }
}
