/* background-color */
.bg-main100 {
  background-color: azure;
}
.bg-main150 {
  background-color: #e5f8fc;
}
.bg-main200 {
  background-color: #cef6ff;
}
.bg-pink {
  background-color: #faa0b6;
}
.bg-blue {
  background-color: #a0d4fa;
}
.bg-gray {
  background-color: #ebede9;
}

/* text-size & weight*/

.text-xl {
  font-size: 3rem;
  font-weight: 700;
}

.text-l {
  font-size: 2rem;
  font-weight: 700;
}

.text-m {
  font-size: 1.5rem;
  font-weight: 600;
}

.text-s {
  font-size: 1rem;
  font-weight: 600;
}

.text-xs {
  font-size: 0.8rem;
  font-weight: 500;
}

/* text-color */

.text-white {
  color: #ffff;
}
.text-gray {
  color: #c2c2c2;
}
