<div class='jumbotron__container'>
  <section class='jumbotron__wrap row'>
    <div class='jumbotron__wrap__txtbox col-md-6 p-lg-5'>
      <h1 class='jumbotron__wrap__txtbox__title'>Project Management Tool for Teams</h1>
      <p class='jumbotron__wrap__txtbox__desc lead fw-normal'>Effortlessly manage projects and teams with our tool. Start us now! 🚀</p>
      <a class='btn btn-outline-secondary' href='#'>Coming soon</a>
    </div>
    <div class='jumbotron__wrap__imgbox col'>
      <span class='jumbotron__wrap__imgbox__item1'><img src='{{member1}}' alt='member' id='member1' /></span>
      <span class='jumbotron__wrap__imgbox__item2'><img src='{{member2}}' alt='member' id='member2' /></span>
      <span class='jumbotron__wrap__imgbox__item3'><img src='{{member3}}' alt='member' id='member3' /></span>
    </div>
  </section>
</div>