@import '/src/public/asset/styles/common.scss';

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fade-in 0.5s ease-in-out;
}

.teams {
  &__container {
    padding: 3rem 1.5rem;
  }

  &__contents {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  &__card {
    border-radius: 2rem !important;
    height: 100%;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
    overflow: hidden;
    color: #fff;

    & > * {
      z-index: 1;
    }

    &__bg-img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      margin: 0;
      z-index: 0;
      object-fit: cover;
      filter: grayscale(20%) contrast(90%);
      -webkit-filter: grayscale(20%) contrast(90%);
      -moz-filter: grayscale(20%) contrast(90%);
      transition: filter 200ms ease, transform 250ms linear;
    }

    &__content {
      display: flex;
      flex-direction: column;
      padding-bottom: 1rem;
      padding: 2.5rem;
      height: 100%;
    }

    &__title,
    &__list {
      transform: translateY(2ex);
    }

    &:hover :is(h3, ul),
    &:focus :is(h3, ul) {
      transform: none;
    }

    &:hover::after,
    &:focus::after,
    &:hover::before,
    &:focus::before {
      opacity: 0.7;
    }

    &:hover &__content &__list,
    &:focus &__content &__title {
      opacity: 1;
      transition-delay: 200ms;
    }
    &:hover img,
    &:focus img {
      filter: grayscale(0) contrast(1);
      transform: scale(1.05) rotate(1deg);
    }

    &__title {
      color: #fff;
      line-height: 1;
      font-weight: 700;
      padding-top: 3rem;
      margin-bottom: 1.5rem;
      margin-top: 3rem;
      font-size: calc(1.375rem + 1.5vw);
      transition: 300ms transform ease;
    }

    &__list {
      color: #fff;
      margin-top: auto;
      display: flex;
      justify-content: flex-end;
      padding-left: 0;
      margin-bottom: 1rem;
      overflow: hidden;
      opacity: 0;
      transition: 300ms opacity linear, 300ms transform ease-in-out;
    }

    &__position {
      font-size: 0.7rem;
      &__txt {
        font-size: 0.8rem;
        color: #fc4892;
        padding: 3px 13px;
        background: rgb(254, 236, 243);
        border-radius: 1rem;
        margin-right: 0.5rem;

        &:last-child {
          margin: 0;
        }
      }
    }

    &__profile {
      display: flex;
    }
  }
}
